#Grid {
    height: 1080px;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 5% 70% 15%;
    grid-template-areas:
        ". h ."
        ". b ."
        ". t ."
        ". f .";
}

#head {
    grid-area: h;
    grid-template-columns: 50% 10% 40%;
    grid-template-areas: 
        "hl . hr";
}
#headLeft {
    grid-area: hl;
    grid-template-columns: 25% 5% 70%;
    grid-template-areas: 
        "l . n";
}
.logo {
    grid-area: l;
}
.name {
    grid-area: n;
    justify-items: left;
}
#headRight {
    grid-area: hr;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 35% 30% 35%;
    grid-template-areas:
        ". . ."
        ". sb ."
        ". . .";
}
.searchBar {
    grid-area: sb;
    grid-template-columns: 80% 20%;
    grid-template-areas: 
        "s ss";
    border: 1px solid #5D8ED7;
    border-radius: 10px;
    border-right: 0px;
}
.search {
    grid-area: s;
}
.sSubmit {
    grid-area: ss;
}
.look {
    background-image: url(images/whitesearchtool.png);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    display: inline-block;
    border: 1px solid #5D8ED7;
    background-color: #5B8DC6;
}
.look:focus {
    background-color: #9ab7e2;
}

#bar {
    grid-area: b;
}
#text {
    grid-area: t;
}
#foot {
    grid-area: f;
}

div {
    display: grid;
    margin: 0;
    padding: 0;
    border: 0;
    float: left;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
img {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100%;
    max-width: 100%;
}
h1{
    color:#5B8DC6;
    font-style: italic;
}
input {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 10px;
}

@media screen and (max-width: 860px) {
    /*h1 length: px * 3.1746*/
    h1{
        font-size: 1.5em;
    }
    .look {
        width: 35px;
        height: 35px;
    }
}
@media screen and (max-width: 644px) {
    /*h1 length: px * 3.1746*/
    h1{
        font-size: 0.8em;
    }
}