/*web*/
/*web about this website*/
#aboutWeb {
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100px 50px 600px 400px 300px 200px;
    grid-template-areas:
        ". h ."
        "b b b"
        "m m m"
        ". jw ."
        ". j ."
        "f f f";
}

/*web about this website*/
#diabetesInfo {
    
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 100px 50px 100px 600px 450px 300px 200px;
    grid-template-areas:
        ". h ."
        "b b b"
        ". dh ."
        "dt dt dt"
        ". dv ."
        ". j ."
        "f f f";
}


/*id and class for about this website
part is reused in about diabetes*/
/*div head*/
#head {
    grid-area: h;
    grid-template-columns: 50% 10% 40%;
    grid-template-areas:
        "hl . hr";
}
#headLeft {
    grid-area: hl;
    grid-template-columns: 25% 5% 70%;
    grid-template-areas: 
        "hl . hn";
}
#logo {
    grid-area: hl;
}
#name {
    grid-area: hn;
    justify-items: left;
    font-style: italic;
    font-family: "Times New Roman";
}
#headRight {
    grid-area: hr;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 35% 30% 35%;
    grid-template-areas:
        ". . ."
        ". hsb ."
        ". . .";
}
#searchBar {
    grid-area: hsb;
    grid-template-columns: 80% 20%;
    border: 1px solid #5D8ED7;
    border-radius: 10px;
    border-right: 0px;
}
#look {
    height: 31px;
    background-image: url(images/whitesearchtool.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    display: inline-block;
    background-color: #578AD6;
    background-color: var(--blueCol);
}

/*div bar*/
#bar {
    grid-area: b;
    grid-template-columns:5% 60% 30% 5%;
    grid-template-rows: 6% 14% 80%;
    grid-template-areas:
        ". . . ."
        "bg bg bg bg"
        ". bl br .";
    background-color: #578AD6;
    background-color: var(--blueCol);
    font-size: 0.8em;
    font-weight: bolder;
}
#barGap {
    grid-area: bg;
    background-color: #FFFFFF;
}
#barLeft {
    grid-area: bl;
    grid-template-columns: repeat(4, 25%);
}
#barRight {
    grid-area: br;
}

/*div mezzanine*/
#mezzanine {
    grid-area: m;
    background-image: url(images/chemicalbackdrop.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    grid-template-columns: 5% 55% 5% 30% 5%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
        ". . . . ."
        ". ml . mr ."
        ". . . . .";
}
#mezzanineLeft {
    grid-area: ml;
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-template-rows: 70% 10% 20%;
    grid-template-areas: 
        ". mt mt mt ."
        ". . . . . "
        ". mlc . mlp .";
}
#mtext {
    grid-area: mt;
    grid-template-rows: repeat(5, 20%);
}
#logInClinican {
    grid-area: mlc;
    background: #578AD6;
    font-size: 1.5em;
    border-radius: 10px;
}
#logInPatient {
    grid-area: mlp;
    background: #578AD6;
    font-size: 1.5em;
    border-radius: 10px;
}
#mezzanineRight {
    grid-area: mr;
    grid-template-rows: 40% 20% 40%;
    grid-template-areas: 
        "mr1"
        "."
        "mr2";
}
#mr1 {
    grid-area: mr1;
}
#mr2 {
    grid-area: mr2;
}

/*div about this web but same structure as div join*/
#jWeb {
    grid-area: jw;
    grid-template-rows: 5% 10% 5% 40% 5% 30% 5%;
    grid-template-areas: 
        "."
        "jh"
        "."
        "jt"
        "."
        "jb3"
        ".";
}
#jBottom3 {
    grid-area: jb3;
    grid-template-columns: 30% 5% 30% 5% 30%;
}

/*div join*/
#join {
    grid-area: j;
    border-top: 1px #578AD6 solid;
    grid-template-rows: 5% 10% 5% 30% 10% 35% 5%;
    grid-template-areas: 
        "."
        "jh"
        "."
        "jt"
        "."
        "jb2"
        ".";
}
.jHead {
    grid-area: jh;
    grid-template-columns: 40% 20% 40%;
    grid-template-areas:
        ". jhm .";
}
.jhMiddle {
    grid-area: jhm;
    grid-template-columns: 10% 80% 10%;
}
.jText {
    grid-area: jt;
}
#jBottom2 {
    grid-area: jb2;
    grid-template-columns: 45% 10% 45%;
}
.Jbot {
    border-radius: 10px;
    border: 1px #578AD6 solid;
    border: 1px var(--blueCol) solid;
    grid-template-columns: 5% 30% 50% 10% 5%;
    grid-template-rows: 5% 60% 30% 5%;
    grid-template-areas: 
        ". . . . ."
        ". Jim Jim Jim ."
        ". Jte . Jar ."
        ". . . . .";
}
.Jimg {
    grid-area: Jim;
}
.Jtex {
    grid-area: Jte;
    color: #578AD6;
    color: var(--blueCol);
}
.Jarr {
    grid-area: Jar;
}

/*div foot*/
#foot {
    grid-area: f;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 90% 10%;
    grid-template-areas: 
        ". fc ."
        "fb fb fb";
}
#contact {
    grid-area: fc;
    grid-template-columns: 33% 33% 34%;
    grid-template-areas: 
        "fcl1 fcl2 fcl3";
    border-top: 1px #578AD6 solid;
}
#cline1 {
    grid-area: fcl1;
    grid-template-rows: 25% repeat(6, 12.5%);
}
#cline2 {
    grid-area: fcl2;
    grid-template-rows: 25% repeat(6, 12.5%);
}
#cline3 {
    grid-area: fcl3;
    grid-template-rows: 25% repeat(6, 12.5%);
}
#bottom {
    grid-area: fb;
    background-color:  #578AD6;
    background-color: var(--blueCol);
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: 
        ". fbm .";
}
#bMiddle {
    grid-area: fbm;
    grid-template-columns: repeat(4, 10%) 60%;
    color: #fff;
}

/*div for about diabetes
class or id start with d*/
#dHead {
    grid-area: dh;
    justify-items: left;
}
#dText {
    grid-area: dt;
    background: #DEEBF5;
    background: var(--lightBlue);
    grid-template-columns: 5% 60% 30% 5%;
    font-size: 1.5em;
}
#dVideo {
    grid-area: dv;
    grid-template-rows: 10% 5% 5% 10% 60% 10%;
}
#dVideo2 {
    grid-template-columns: 5% 40% 10% 40% 5%;
}
.Dvid {
    border-radius: 10px;
    background-color: #DEEBF5;
    background-color: var(--lightBlue);
    grid-template-rows: 80% 20%; 
}

/*main*/
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
    --blueCol: #578AD6;
    --lightBlue: #DEEBF5;
}
div {
    display: grid;
    float: left;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
img {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 90%;
    max-width: 90%;
}
iframe {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    max-height: 100%;
    max-width: 100%;
}
input {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #000;
}
.divA {
    width: 100%;
    height: 100%;
}
h1 {
    color:#5B8DC6;
}
h2 {
    font-weight: normal;
}
.fontWhite {
    color: #fff;
    font-weight: bolder;
}
.fontBlue {
    color: #578AD6;
    color: var(--blueCol);
    font-weight: bolder;
}
.fontRed {
    color: red;
}
.itemLeft {
    justify-items: left;
}


/*responsive*/
@media screen and (max-width: 860px) {
    /*h1 length: px * 3.1746*/
    h1{
        font-size: 1.5em;
    }
    #look {
        width: 35px;
    }
    
}
@media screen and (max-width: 640px) {
    /*h1 length: px * 3.1746*/
    h1{
        font-size: 0.8em;
    }
}