<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width initial-scale=1">  
    <title>Diabetes@Home</title>
    <link rel = "icon" src = "/homelogo.png">
</head>
<body id="mainWeb"> 
    <header>  
        <!-- left -->
        <section id="headLeft">
            <section id="logo">
                <a href="/"> <img src="/homelogo.png" alt="red-cross-bounded-@home"> </a>
            </section>
            <section id="name">
                <h1>Diabetes@Home</h1>
            </section>
        </section>

        <section id="headRight">
            <section id="searchBar">
                <div>
                    <input type="search" placeholder="Search">
                </div>
                <div>
                    <input type="submit" id="look" value="">
                </div>
            </section>
        </section>
    </header> 

    <main> 
        {{{body}}} 
    </main> 

    <footer> 
        <section id="bMiddle">
            <div><img src="/whitefb.png" alt="fb icon"></div>
            <div><img src="/whitetwitter.png" alt="twitter icon"></div>
            <div><img src="/whiteig.png" alt="instagram icon"></div>
            <div><img src="/whitegoogle.png" alt="google plus icon"></div>
            <p>©Australian Diabetes@Home Health Agency</p>
        </section>  
    </footer>
</body>
</html>