<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width initial-scale=1">  
    <title>Diabetes@Home</title>
    <link rel = "icon" src = "/homelogo.png">
</head>
<body> 
    <header>
        <!-- left -->
        <section id="headLeft">
            <div id="logo">
                <a href="/"> <img src="/homelogo.png" alt="red-cross-bounded-@home"> </a>
            </div>
            <div id="name">
                <a href="/"> <h1>Diabetes@Home</h1> </a>
            </div>
        </section>
        <!-- right -->
        <section id="logout">
            <!-- if login -->
            <a href="home"><h2 class="fontBlue">Pat Health</h2></a>
            <form id="logoutButton" action="/logout" method="post">
                <button class="fontBlue" type="submit">Log Out</button>
            </form>
        </section>
    </header>

    <main> 
        {{{body}}} 
    </main> 

    <footer>
        <section id="fMiddle">
            <div><img src="/whitefb.png" alt="fb icon"></div>
            <div><img src="/whitetwitter.png" alt="twitter icon"></div>
            <div><img src="/whiteig.png" alt="instagram icon"></div>
            <div><img src="/whitegoogle.png" alt="google plus icon"></div>
            <h5>©Australian Diabetes@Home Health Agency</h5>
        </section>
    </footer>
</body>
</html>