<section id="loginSession">

    <section id="loginLeft">
        <h1 class="fontBlueNormal">Log In To Your Account</h1>
        <form action="" method="POST">
            <input type="text" placeholder="UserID or Email Address" name="userid" />
            <input type="password" placeholder="Password" name="password" />
            <input type="submit" class="fontWhiteBold" value="Sign In" />
        </form>
        <p>By signing in, you are agreeing to our <br><a href="">Terms of Use</a> and our <a href="">Privacy Prolicy</a></p>
    </section>

    <section id="loginRight">
        <h1 class="fontBlueNormal">Create An Account</h1>
        <div id="createAccount">
            <a class="fontWhiteBold" href="/clinicianSignUp">As Clinician</a>
        </div>
    </section>
</section>