<section id="patientData">
    <section class="blueLine"></section>
    <!-- patient personal information section-->
    
    <section id="directP">
        <h2><a href="" class="fontBlueNormal">Return To Previous Page</a></h2>
    </section>
        
    
    <!-- view daily data section(hard coded) -->
    <section id="firstBigText"><h1 class="fontBlue">View Daily Data</h1></section>
    
    
    <section id="backgroundColor">
        <section></section>
        <section id="dataTables">
            <section></section>
            <section class="forms">
                <form>
                    <select name="display">
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Yearly">Yearly</option>
                    </select>
                </form>
            </section>
            <section></section>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Blood Glucose Level
                        (in mmol/L)</th>
                    <th>Weight (in kg)</th>
                    <th>Number of Insulin
                        Doses Taken</th>
                    <th>Exercises
                        (step count)</th>
                </tr>

                <!-- Other patients(hard coded) -->
                <tr>
                    <td class="fontBlueNormal">17/03/2022</td>
                    <td>8.4</td>
                    <td class="fontBlueNormal">-</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">16/03/2022</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontRed">76.2</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">15/03/2022</td>
                    <td>7.9</td>
                    <td>78.4</td>
                    <td>N/A</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">14/03/2022</td>
                    <td>8.1</td>
                    <td>58.2</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">13/03/2022</td>
                    <td>7.8</td>
                    <td class="fontBlueNormal">-</td>
                    <td>N/A</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">12/03/2022</td>
                    <td>8.3</td>
                    <td>67.9</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">11/03/2022</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
            </table>
            <section></section>
            
            <section class="forms">
                <form>
                    <select name="display">
                        <option value="Blood">Blood Glucose Level</option>
                        <option value="Weight">Weight</option>
                        <option value="Number">Number Of Insulin Doses Taken</option>
                        <option value="Exercise">Exercise</option>
                    </select>
                </form>
                <form>
                    <select name="display">
                        <option value="Weekly">Weekly</option>
                        <option value="Monthly">Monthly</option>
                        <option value="Yearly">Yearly</option>
                    </select>
                </form>
            </section>
            <section></section>
            <table></table>
            <section></section>
        </section>
        <section></section>
    </section>
    
</section>
