<section id="patientData">

    <!-- patient personal information section-->
    
    <section id="directP">
        <h2><a href="" class="fontBlueNormal">Home</a> > <a href="" class="fontBlueNormal">View All Data</a></h2>
    </section>    
    
    <section id="backgroundColor">
        <table id="dataTables">
            <thead>
                <tr>
                    <th> <p>Date</p> </th>
                    <th> <p>Blood Glucose Level (in mmol/L)</p> </th>
                    <th> <p>Weight (in kg)</p> </th>
                    <th> <p>Number of Insulin Doses Taken</p> </th>
                    <th> <p>Exercises (step count)</p> </th>
                </tr>
            </thead>
            <tbody id="tableScroll">                
                <tr>
                    <td class="fontBlueNormal">17/03/2022</td>
                    <td>8.4</td>
                    <td class="fontBlueNormal">-</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">16/03/2022</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontRed">76.2</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">15/03/2022</td>
                    <td>7.9</td>
                    <td>78.4</td>
                    <td>N/A</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">14/03/2022</td>
                    <td>8.1</td>
                    <td>58.2</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">13/03/2022</td>
                    <td>7.8</td>
                    <td class="fontBlueNormal">-</td>
                    <td>N/A</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">12/03/2022</td>
                    <td>8.3</td>
                    <td>67.9</td>
                    <td>1</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
                <tr>
                    <td class="fontBlueNormal">11/03/2022</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                    <td class="fontBlueNormal">-</td>
                </tr>
            </tbody>
        </table>

        <section id="graphSelect">
            <form action="" method="">
                <select name="display">
                    <option value="Blood">Blood Glucose Level</option>
                    <option value="Weight">Weight</option>
                    <option value="Number">Number Of Insulin Doses Taken</option>
                    <option value="Exercise">Exercise</option>
                </select>
            </form>               
        </section>
        
    </section>
    
</section>
