<section id="signUp">

    <div class="blueLine"></div>

    <section id="signUpContent">
        <section id="signUpLeft">
            <h1 class="fontBlue">Register Your Patient</h1>
            <form action="" method="POST">
                <b>First Name<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. John" name="first_name" />
                <b>Last Name<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. Smith" name="last_name" />
                <b>Date of Birth<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. DD/MM/YYYY" name="DOB" />
                <b>Username(Screen Name)<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. johnny123" name="user_name" />
                <b>Email Address(UserID)<tag class="fontRed">*</tag></b><input type="text" placeholder="Email Address" name="email" />
                <b>Temporary Password<tag class="fontRed">*</tag></b><input type="password" placeholder="e.g. XXXXXXXX" name="password" />
                <p class="fontRed">*Password must contain at least 8 character long</p>
                <input type="submit" class="fontWhiteBold" value="Create Account" />
            </form>
        </section>

        <section id="signUpRight">
            <h1 id="signUpRightTitle">Health Data Entry</h1>
            <form action="" method="POST">
                <b>Select Required Health Data<tag class="fontRed">(At Least One*)</tag></b><br>
                <select>
                    <option value="none">xx</option>
                    <option value="Blood Glucose Level">Blood Glucose Level</option>
                    <option value="Weight">Weight</option>
                    <option value="Doses of Insulin Taken">Doses of Insulin Taken</option>
                    <option value="Exercises">Exercises</option>
                </select><br>

                <b>Select Required Health Data</b><br>
                <select>
                    <option value="none">xx</option>
                    <option value="Blood Glucose Level">Blood Glucose Level</option>
                    <option value="Weight">Weight</option>
                    <option value="Doses of Insulin Taken">Doses of Insulin Taken</option>
                    <option value="Exercises">Exercises</option>
                </select><br>

                <b>Select Required Health Data</b><br>
                <select>
                    <option value="none">xx</option>
                    <option value="Blood Glucose Level">Blood Glucose Level</option>
                    <option value="Weight">Weight</option>
                    <option value="Doses of Insulin Taken">Doses of Insulin Taken</option>
                    <option value="Exercises">Exercises</option>
                </select><br>

                <b>Select Required Health Data</b><br>
                <select>
                    <option value="none">xx</option>
                    <option value="Blood Glucose Level">Blood Glucose Level</option>
                    <option value="Weight">Weight</option>
                    <option value="Doses of Insulin Taken">Doses of Insulin Taken</option>
                    <option value="Exercises">Exercises</option>
                </select><br>
                <input type="submit" class="fontWhiteBold" value="Register" />
            </form>
        </section>
    </section>
    
</section>