<section id="cPatientProfile">

    <section id="directP">
        <h2><a href="/home" class="fontBlueNormal">Home</a> > <a href="" class="fontBlueNormal">Patient Profile</a></h2>
    </section>

    <section id="cPatProfile">
        <section id="cPatProfileInfo">
            <section id="pImg">
                <img src="/patienticon.png" alt="default patient img">
                <p class="fontBlue">{{thispatient.first_name}} {{thispatient.last_name}}</p>
            </section>
            
            <section id="perInfo1"> 
                <p><b>Username:</b> Pat Health</p>               
                <p><b>D.O.B:</b> 02/12/2000</p>
            </section>

            <section id="perInfo2"> 
                <p><b>Email:</b> abc@email.com</p>
            </section>

            <section id="badges">
                <section id="badgesContent">
                    <p class="fontWhiteNormal">Engagement</p>
                    <p class="fontWhiteNormal">Rate</p>
                    <p class="fontWhiteBold">80%</p>
                </section>
            </section>
        </section>

        <section id="recentMessage">
            <section id="recentMessageHead">
                <section id="recentMessageHeadImg"><img src="/mail_black.png" alt="mailIcon"></section>
                <section id="recentMessageHeadTitle"><h3>Clinician Message:</h3></section>
            </section>
            <section id="recentMessageContent">
                <p class="fontBlue">Support message for 2022/05/14:</p>
                <p>Sunny day! Nice weather! Let's start this wonderful day by breathing in some fresh air!</p>
                <br>
            </section>
        </section>
    </section>

    <section id="dailyData">
        <div id="dailyDataText"><h1 class="fontBlue">Medical Requirements</h1></div>

        <section id="todayData">
            
            <table id="onePatTodayTable">
                <tr>
                    <th>Blood Glucose Level<br>
                        (in mmol/L)</th>
                    <th>Weight (in kg)</th>
                    <th>Number of Insulin
                        Doses Taken</th>
                    <th>Exercises
                        (step count)</th>
                </tr> 
                <form action="" method="">
                    <tr>
                        <td>                       
                            <select id="blood_glucose_select">
                                <option value="">required</option>
                                <option value="">not required</option>
                            </select>                        
                        </td>
                        <td>
                            <select id="weight_select">
                                <option value="">not required</option>
                                <option value="">required</option>
                            </select>

                        </td>
                        <td>
                            <select id="insulin_taken_select">
                                <option value="">required</option>
                                <option value="">not required</option>
                            </select>
                        </td>
                        <td>
                            <select id="exercises_select">
                                <option value="">required</option>
                                <option value="">not required</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <section class="safetyRange">
                                <section class="lower" id="blood_glucose_lower">
                                    <input type="text" name="" placeholder="0">
                                </section>
                                <section class="middle-"><p>-</p></section>
                                <section class="upper" id="blood_glucose_upper">
                                    <input type="text" name="" placeholder="0">
                                </section>
                            </section>
                        </td>
                        <td>
                            <section class="safetyRange">
                                <section class="lower" id="weight_lower"><input type="text" name="" placeholder="0" class="fixed"></section>
                                <section class="middle-"><p>-</p></section>
                                <section class="upper" id="weight_upper"><input type="text" name="" placeholder="0" class="fixed"></section>
                            </section>
                        </td>
                        <td>
                            <section class="safetyRange">
                                <section class="lower" id="insulin_taken_lower"><input type="text" name="" placeholder="0"></section>
                                <section class="middle-"><p>-</p></section>
                                <section class="upper" id="insulin_taken_upper"><input type="text" name="" placeholder="0"></section>
                            </section>
                        </td>
                        <td>
                            <section class="safetyRange">
                                <section class="lower" id="exercises_lower"><input type="text" name="" placeholder="0"></section>
                                <section class="middle-"><p>-</p></section>
                                <section class="upper" id="exercises_upper"><input type="text" name="" placeholder="0"></section>
                            </section>
                        </td>
                    </tr>
                    <input type="submit" class="fontWhiteBold" value="Save" />
                </form>
            </table>
            
            <section id="todayNotes">
                <section id="newNotes">
                    <p id="lStart">Clinician Notes</p>               
                    <form action="" method="">
                        <textarea name="" placeholder="Enter a new clinician note"></textarea>                  
                        <input type="submit" class="fontWhiteBold" value="Update" />
                    </form>
                </section>
                
                <section id="newSupportMessages">
                    <p id="lStart">Support Messages</p>
                    <form action="" method="">
                        <textarea name="" placeholder="Enter new Support Messages"></textarea>                   
                        <input type="submit" class="fontWhiteBold" value="Update" />
                    </form>
                </section>

                               
            </section>
        </section>
    </section>

    <section id="directSection">

        <h1 class="fontBlue">Get Accessed To</h1>
        
        <section id="webDetailButtonHolder">
            <a id="button1" class="reDirectButtonA" href="/viewData"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="view data"></div>
                <div class="ButtonAText"><p>View Patient Data</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button2" class="reDirectButtonA" href="/clinicianNotes"><section class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="clinician notes"></div>
                <div class="ButtonAText"><p>Clinician Notes</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button3" class="reDirectButtonA" href="/patientComments"><section class="Jbot">
                <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                <div class="ButtonAText"><p>Patient Comments</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
    </section>
</section>

