<!-- Clinician patient comments page-->
<section id="cliPatientComments">

    <!-- clinician personal information section-->
   <div class="blueLine"></div>
    <section id="profile">
        <section id="directP">
            <h2><a href="/clinicianProfile" class="fontBlueNormal">Profile</a> > <a href="" class="fontBlueNormal">Patient Comments</a></h2>
        </section>
        <section class="profileInfo">
            <img src="/annabrown.png" alt="default clinician img">
            <p class="proName">Chris Brown</p>
            <p class="rightContent">Username: chrisb666</p>
        </section>
    </section>

    <!-- Patient comments section(hard coded) -->
    <section id="tableArea">

        <div id="tableAreaText"><h1 class="fontBlue">Patient Comments</h1></div>

        <section id="allMessages">
            <table id="oneMessageSearch">
                <tr>
                    <th>
                        <form>
                            <select name="display">
                                <option value="today">Today</option>
                                <option value="yesterday">Yesterday</option>
                                <option value="read">Read</option>
                                <option value="unread">Unread</option>
                                <option value="favourite">Favourite</option>
                            </select>
                        </form>
                    </th>
                    <th></th>
                    <th>
                        <div id="searchBar2">
                            <div>
                                <input type="search" placeholder="Search">
                            </div>
                            <div>
                                <input type="submit" id="smallLook" value="">
                        </div>
                    </th>
                </tr> 
            </table>
            <table id="oneMessageTable">                
                <tr>
                    <td><a class="fontRed" href="">Vicky Hamilton</a></td>
                    <td><a class="fontRed" href="">Weight: 76.2<br>Oops, I think I have increasingly gained too much weight lately</a></td>
                    <td><a href="" class="supmessageTime">10:00 AM</a></td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
                <tr>
                    <td><a class="fontBlueNormal" href="">Austin Hunter</a></td>
                    <td><a href="">Blood Glucose Level: 8.4<br>Still quite high I guess</a></td>
                    <td><a href="" class="supmessageTime">9:55 AM</a></td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
                <tr>
                    <td><a class="fontBlueNormal" href="">Norma Shaffer</a></td>
                    <td><a href="">Weight: 78.4<br>Getting there, getting there</a></td>
                    <td><a href="" class="supmessageTime">9:20 AM</a></td>
                    <td><img src="/tickheart.png" alt="tickHeart"></td>
                    <td><img src="/bin.png" alt="deleteImg"></td>
                </tr>
            </table>
        </section>
    </section>

    <!-- direct to other pages section -->
    <section id="directSection">

        <section id="directHeader">   
            <h1 id="directM" class="fontBlue">Get Accessed To</h1>          
        </section>

        <section id="webDetailButtonHolder">
            <a class="reDirectButtonA" href="dashboard"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="clinician dashboard"></div>
                <p class="ButtonAText">Dashboard</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href="/clinicianNotes"><section class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="clinician note"></div>
                <p class="ButtonAText">Clinician Notes</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href="/clinicianProfile"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="clinician dashboard"></div>
                <p class="ButtonAText">Clinician Profile</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>                  
        </section>
        
    </section>  
</section>