<section id="psignUp">

    <section id="psignUpLeft">
        <h1 class="fontBlue">Register Your Patient</h1>
        <form action="" method="POST">
            <b>First Name<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. John" name="first_name" required />
            <b>Last Name<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. Smith" name="last_name" required />
            <b>Date of Birth<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. DD/MM/YYYY" name="DOB" required />
            <b>Username(Screen Name)<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. johnny123" name="user_name" required />
            <b>Email Address(UserID)<tag class="fontRed">*</tag></b><input type="text" placeholder="Email Address" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" title="must be a valid email address" />
            <b>Temporary Password<tag class="fontRed">*</tag></b><input type="text" name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="must contain at least one number and one uppercase and lowercase letter, and be at least 8 characters" placeholder="e.g. XXXXXXXX" />
            <p>*Password must contain at least <tag class="fontRed"> 8 characters </tag> long including:</p>
            <p>-At least <tag class="fontRed"> one </tag> number</p>
            <p>-At least <tag class="fontRed"> one </tag> upper case</p>
            <p>-At least <tag class="fontRed"> one </tag> lower case</p>
            <input type="submit" class="fontWhiteBold" value="Save" />
        </form>
    </section>

    <section id="psignUpRight">
        <h1 id="signUpRightTitle">Health Data Entry</h1>
        <form id="registerDataEntry" action="" method="POST">
            <b>Select Required Health Data<tag class="fontRed"><br>(At Least One*)</tag></b><br>
            <input type="checkbox" name="health_data[]" value="blood_glucose_level"> Blood Glucose Level<br>
            <input type="checkbox" name="health_data[]" value="weight"> Weight<br>
            <input type="checkbox" name="health_data[]" value="insulin_taken"> Doses of Insulin Taken<br>
            <input type="checkbox" name="health_data[]" value="exercises"> Exercises<br>
            <input type="submit" class="fontWhiteBold" value="Register" />
        </form>
    </section>
    
</section>