<section id="signUp">

    <section class="blueLine"></section>

    <section id="signUpText">
        <h1 class="fontBlue">Sign Up</h1>
    </section>

    <section id="signUpLeft">
        <form action="" method="POST">
            <b>First Name<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. John" name="first_name" />
            <b>Last Name<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. Smith" name="last_name" />
            <b>Date of Birth<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. DD/MM/YYYY" name="DOB" />
            <b>Biography<tag class="fontRed">*</tag></b><textarea placeholder="e.g. I like exercises" name="biography"></textarea>
        </form>
    </section>

    <section id="signUpRight">
        <form action="" method="POST">
            <b>Username(Screen Name)<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. johnny123" name="user_name" />
            <b>Email Address(UserID)<tag class="fontRed">*</tag></b><input type="text" placeholder="Email Address" name="email" />
            <b>Password<tag class="fontRed">*</tag></b><input type="password" placeholder="e.g. XXXXXXXX" name="password" />
            <p>*Password must contain at least <tag class="fontRed"> 8 character </tag> long including:</p>
            <p>-At least <tag class="fontRed"> one </tag> upper case</p>
            <p>-At least <tag class="fontRed"> one </tag> lower case</p>
            <p>-At least <tag class="fontRed"> one </tag> number</p>
            <p>-At least <tag class="fontRed"> one </tag> special character e.g. #$%</p>
            <input type="submit" class="fontWhiteBold" value="Create Account" />
        </form>
    </section>

    <section id="rest"></section>
    
</section>