<section id="clinicianProfile">
    <section id="cliProfileSection">
        <div class="blueLine"></div>
        <section id="cliprofileContent">
            <section id="cliProfileInfo">
                 <section id="cliImg">
                    <img src="/annabrown.png" alt="default clinician img">
                    <p class="fontBlue">Anna Brown</p> 
                </section>
                
                <section id="perInfo"> 
                    <p><b>Username:</b> annab666</p>
                    <p><b>Email:</b> annabrown666@gmail.com</p>
                    <p><b>D.O.B:</b> 06/06/1993</p>
                    <p><b>Biography:</b> I am a medical specialist who can provide expert advice on the management of diabetes.</p>
                </section>

                <section id="editProfile">
                    <p><a class="fontWhiteBold" href="">Edit Profile</a></p>
                </section>
            </section>

            <section id=""></section>
        </section>

        
    </section>
</section>