<section id="cNotes">

    <div class="blueLine"></div>

    <section id="directP">
        <h2><a href="/home" class="fontBlueNormal">Home</a> > <a href="" class="fontBlueNormal">Clinician Notes</a></h2>
    </section>
    
    <section id="backgroundColor">
        <section></section>
        <section></section>
        <section></section>
    </section>

    <section id="directSection">

        <h1 class="fontBlue">Get Accessed To</h1>
        
        <section id="webDetailButtonHolder">
            <a class="reDirectButtonA" href="dashboard"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="clinician dashboard"></div>
                <div class="ButtonAText"><p>Dashboard</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href="/patientComments"><section class="Jbot">
                <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                <div class="ButtonAText"><p>Patient Comments</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href="/editProfile"><section class="Jbot">
                <div class="Jimg"><img src="/editprofileicon.png" alt="edit profile"></div>
                <div class="ButtonAText"><p>Edit Profile</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
    </section>
</section>