<section id="clinicianProfile">
    <section id="cliProfileSection">
        <div class="blueLine"></div>
        <section id="cliprofileContent">
            <section id="cliProfileInfo">
                 <section id="cliImg">
                    <img src="/annabrown.png" alt="default clinician img">
                    <p class="fontBlue">Anna Brown</p> 
                </section>
                
                <section id="perInfo"> 
                    <p><b>Username:</b> annab666</p>
                    <p><b>Email:</b> annabrown666@gmail.com</p>
                    <p><b>D.O.B:</b> 06/06/1993</p>
                    <p><b>Biography:</b> I am a medical specialist who can provide expert advice on the management of diabetes.</p>
                </section>

                <section class="blueButton">
                    <p><a class="fontWhiteBold" href="/editProfile">Edit Profile</a></p>
                </section>
            </section>

            <section id="cliprofileRight">
                <section class="buttonWithText">
                    <h1 class="fontBlue">Register Your Patient Here</h1>
                    <section class="blueButton">
                        <p><a class="fontWhiteBold" href="/patientRegister">Register</a></p>
                    </section>
                </section>

                <section id="webDetailButtonHolder">
                    <a class="reDirectButtonA" href=""><section class="Jbot">
                        <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="clinician dashboard"></div>
                        <p class="ButtonAText">Dashboard</p>
                        <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
                    </section></a>
                    <div></div>
                    <a class="reDirectButtonA" href=""><section class="Jbot">
                        <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="clinician note"></div>
                        <p class="ButtonAText">Clinician Notes</p>
                        <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
                    </section></a>
                    <div></div>
                    <a class="reDirectButtonA" href="/cliPatientComments"><section class="Jbot">
                        <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                        <p class="ButtonAText">Patient Comments</p>
                        <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
                    </section></a>
                    <div></div>                    
                </section>
        

            </section>
        </section>

        
    </section>
</section>