<section id="cNotes">

    <section id="directP">
        <h2><a href="/home" class="fontBlueNormal">Home</a> > <a href="" class="fontBlueNormal">Clinician Notes</a></h2>
    </section>
    
   <section id="allMessages">
        <table id="oneMessageSearch">
            <tr>
                <th>
                    Clinical Notes
                </th>
            </tr> 
        </table>
        <table id="oneMessageTable">     
            {{#each allNotes}}   
                <td><p>{{this.name}}</p></td> 
                <td><p>{{this.content}}</p></td>
                <td><p>{{this.time}}</p></td>
            {{/each}}       
        </table>
    </section>

    <section id="directSection">

        <h1 class="fontBlue">Get Accessed To</h1>
        
        <section id="webDetailButtonHolder">
            <a id="button1" class="reDirectButtonA" href="dashboard"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="clinician dashboard"></div>
                <div class="ButtonAText"><p>Dashboard</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button2" class="reDirectButtonA" href="/patientComments"><section class="Jbot">
                <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                <div class="ButtonAText"><p>Patient Comments</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <a id="button3" class="reDirectButtonA" href="/home"><section class="Jbot">
                <div class="Jimg"><img src="/editprofileicon.png" alt="edit profile"></div>
                <div class="ButtonAText"><p>Clinician Profile</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
    </section>
</section>