<section id="clinicianHome">
    <h1>Displaying patients</h1> 
 
    <ul> 
        {{#each patient}} 
        <li> {{this.fist_name}}, {{this.last_name}} </li> 
        {{/each}}
    </ul>
    <p>here</p>
    <p>here</p>
    <p>here</p>
    <p>here</p>
    <p>here</p>
    <p>here</p>
    <p>here</p>
    <p>here</p>
    <p>here</p>
    
</section>