<section id="clinicianSignUp">
    
    <section id="signUpSession">

        <div class="blueLine"></div>

        <section id="signUpContent">
            <section id="signUpLeft">
                <h1 class="fontBlue">Sign Up As Clinician</h1>
                <form action="" method="POST">
                    <b>First Name<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. John" name="first_name" />
                    <b>Last Name<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. Smith" name="last_name" />
                    <b>Date of Birth<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. DD/MM/YYYY" name="DOB" />
                    <b>Username(Screen Name)<tag class="fontRed">*</tag></b><input type="text" placeholder="e.g. johnny123" name="user_name" />
                    <b>Email Address(UserID)<tag class="fontRed">*</tag></b><input type="text" placeholder="Email Address" name="email" />
                    <b>Password<tag class="fontRed">*</tag></b><input type="password" placeholder="e.g. XXXXXXXX" name="password" />
                    <p class="fontRed">*Password must contain at least 8 character long</p>
                    <input type="submit" class="fontWhiteBold" value="Create Account" />
                </form>
            </section>

            <section id="signUpRight">
                <h1 id="signUpRightTitle" class="fontBlue">Need Help?</h1>
                <section id="help"> 
                    <h2 class="fontRed">Contact the Help Line 24/7: 9988 8866</h2>
                    <h2>Contacts for Healthcare Professionals</h2>
                    <h2>Sitemap</h2>
                    <h2>Accessibility</h2>
                    <h2>Copyright</h2>
                </section>
            </section>
        </section>
        
    </section>

</section>