<section id="clinicianHome">
    <section id="clinicianInfo">
        <div id="blueLine"></div>
        <section id="profile">
            <div id="directP">
                <p class="fontBlueNormal">Profile > Dashboard</p>
            </div>
            <div id="profileInfo">
                <img src="/annabrown.png" alt="default clinician img">
                <p id="cliName" class="fontBlue">Chris Brown</p>
                <p id="userName" class="fontBlue">Username: chrisb666</p>
            </div>
        </section>
        <section id="dashboardText">
            <p id="dashText" class="smallTitle">Dashboard</p>
        </section>
    </section>

    <h1>Displaying patients</h1> 
 
    <ul> 
        {{#each patient}} 
        <li> {{this.fist_name}}, {{this.last_name}} </li> 
        {{/each}}
    </ul>

    <section id="directSection">
        <section id="directHeader">   
            <p id="directM" class="smallTitle">Get Accessed To</p>         
        </section>

        <section id="webDetailButtonHolder">
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="clinician note"></div>
                <p class="ButtonAText">Clinician Notes</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                <p class="ButtonAText">Patient Comments</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="clinician contacts"></div>
                <p class="ButtonAText">Clinician Contacts</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
        </section>
    </section>
    
</section>