<section id="cliProfileSection">
    <section id="cliprofileContent">
        <section id="cliProfileInfo">
            <section id="cliImg">
                <img src="/annabrown.png" alt="default clinician img">
            </section>
            <section id="cliText"><p class="fontBlue">Anna Brown</p> </section>
            <section id="perInfo"> 
                <p><b>Username:</b> annab666</p>
                <p><b>Email:</b> annabrown666@gmail.com</p>
                <p><b>D.O.B:</b> 06/06/1993</p>
                <p><b>Biography:</b> I am a medical specialist who can provide expert advice on the management of diabetes.</p>
            </section>

            <a class="fontWhiteBold" href="/editProfile"><section class="blueButton"><p>Edit Profile</p></section></a>
        </section>

        <section id="cliprofileRight">
            <section id="buttonWithText">
                <h1 class="fontBlue">Register Your Patient Here</h1>
                <a href="/patientRegister" class="fontWhiteBold"><section class="blueButton"><p>Register</p></section></a>
            </section>

            <section id="webDetailButtonHolder">
                <a id="button1" class="reDirectButtonA" href="dashboard"><section class="Jbot">
                    <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="clinician dashboard"></div>
                    <div class="ButtonAText"><p>Dashboard</p></div>
                    <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
                </section></a>
                <a id="button2" class="reDirectButtonA" href="/clinicianNotes"><section class="Jbot">
                    <div class="Jimg"><img src="/contactsicon.png" alt="clinician notes"></div>
                    <div class="ButtonAText"><p>Clinician Notes</p></div>
                    <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
                </section></a>
                <a id="button3" class="reDirectButtonA" href="/patientComments"><section class="Jbot">
                    <div class="Jimg"><img src="/patientcommentsicon.png" alt="patient comments"></div>
                    <div class="ButtonAText"><p>Patient Comments</p></div>
                    <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
                </section></a>
            </section>
        </section>
    </section>
</section>