<!-- record data page-->
<section id="patientEnter">

    <section class="blueLine"></section>

    <!-- patient personal information section-->
    <section id="profile">
        <section id="directP">
            <h2><a href="home" class="fontBlueNormal">Profile</a> > <a href="" class="fontBlueNormal">Record Data</a></h2>
        </section>
        <a href="home" class="profileInfo">
            <img src="/patienticon.png" alt="default patient img">
            <section class="proName"><p>Pat Health</p></section>
            <section class="rightContent"><p>Username: path123</p></section>
        </a>
    </section>

    <!-- record data supporting text-->
    <section id="recordDataText">
        <section></section>
        <h1 class="fontBlue">Record Data</h1>
        <section>
            <h2 class="fontBlueNormal"><tag class="fontRed">Start Your Day</tag> By Keeping Track Of Your Health Details Daily</h2>
        </section>
        <h1 class="titleBlack">Health Data Details</h1>
        <section></section>
    </section>

    <!-- data enter section-->
    <section id="recordBars">

        <!-- blood glucose level enter-->
        <section class="RecordBar">
            <section class="RecordBlueBar">
                {{#if log_glucose}} <!-- if today's blood glucose level hasn't been entered-->
                    <section class="RecordInnerBar">
                        
                        <!-- data enter-->
                        <form class="recordArea" method="POST" action="/patient/{{id}}/submit_log">
                                <b>Health Data Name</b><input type="text" value="blood glucose level" name="data_name" readonly>
                                <b>Value</b><input type="text" placeholder="xx" name="value" >
                                <b>Comments</b><input type="text" placeholder="xx" name="comment" >
                                
                        </form>
                        
                            
                        <!-- switch application is referenced -->
                        <section class="SwitchIcon">
                            <h3>Alert</h3>
                            <section class="toggle-button-wrapper">
                                <input type="checkbox" id="toggle-button" name="switch" checked>
                                <label for="toggle-button" class="button-label">
                                    <span class="circle"></span>
                                    <span class="text off">OFF</span>
                                    <span class="text on">ON</span>
                                </label>
                            </section>
                            <p class="fontRed">*press if there is any problem to notify the clinician</p>
                            <input type="submit"  class="fontWhiteBold" value="Save">
                        </section>
                    </section>
                {{else}} <!-- if today's blood glucose level has been entered-->
                    <section class="RecordFinish">
                        <h3 class="fontRed">## Your blood glucose level has been entered today!!! ##</h3>
                        <h3 class="fontRed">No more enter is allowed</h3>
                        <h3 class="fontRed">Remember to enter your blood glucose level tomorrow</h3> 
                    </section>
                {{/if}}
            </section>
        </section>
        
        <!-- weight enter-->
        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">

                    <!-- data enter-->
                    <form class="recordArea" method="POST">
                        <b>Health Data Name</b><input type="text" value="weight" name="data_name" readonly/>
                        <b>Value</b><input type="text" placeholder="xx" class="fixed" name="value" />
                        <b>Comments</b><input type="text" placeholder="xx" class="fixed" name="comment" />
                        
                    </form>

                    <!-- switch application is referenced -->
                    <section class="SwitchIcon">
                        <h3>Alert</h3>
                        <section class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </section>
                        <p class="fontRed">*press if there is any problem to notify the clinician</p>
                        <input class="saveButton" type="submit" value="Save"/>
                    </section>

                </section>
            </section>
        </section>

        <!-- insulin take enter-->
        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">

                    <!-- data enter-->
                    <form class="recordArea" method="POST">
                        <b>Health Data Name</b><input type="text" value="insulin take" name="data_name" readonly/>
                        <b>Value</b><input type="text" placeholder="xx" class="fixed" name="value" />
                        <b>Comments</b><input type="text" placeholder="xx" class="fixed" name="comment" />
                    </form>
    
                    <!-- switch application is referenced -->
                    <section class="SwitchIcon">
                        <h3>Alert</h3>
                        <section class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </section>
                        <p class="fontRed">*press if there is any problem to notify the clinician</p>
                        <input class="saveButton" type="submit" value="Save"/>
                    </section>

                </section>
            </section>
        </section>

        <!-- exercises enter-->
        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">

                    <!-- data enter-->
                    <form class="recordArea" method="POST">
                        <b>Health Data Name</b><input type="text" value="exercises" name="data_name" readonly/>
                        <b>Value</b><input type="text" placeholder="xx" class="fixed" name="value" />
                        <b>Comments</b><input type="text" placeholder="xx" class="fixed" name="comment" />
                    </form>
                    
                    <!-- switch application is referenced -->
                    <section class="SwitchIcon">
                        <h3>Alert</h3>
                        <section class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </section><p class="fontRed">*press if there is any problem to notify the clinician</p>
                        <input class="saveButton" type="submit" value="Save"/>
                    </section>
                    
                </section>
            </section>
        </section>
    </section>
    
    <!-- direct to other pages section -->
    <section id="directSection">

        <section id="directHeader">   
            <h1 id="directM" class="fontBlue">Get Accessed To</h1>         
        </section>

        <section id="webDetailButtonHolder">
            <a class="reDirectButtonA" href="/viewData"><section class="Jbot">
                <div class="Jimg"><img src="/dashboard&viewdataicon.jpg" alt="view data"></div>
                <div class="ButtonAText"><p>View Data</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href="home"><section class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="profile"></div>
                <div class="ButtonAText"><p>Profile</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href="/editProfile"><section class="Jbot">
                <div class="Jimg"><img src="/editprofileicon.png" alt="edit profile"></div>
                <div class="ButtonAText"><p>Edit Profile</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
        
    </section>
    
    
</section>