<section id="patientEnter">

    <section class="blueLine"></section>

    <section id="profile">
        <div id="directP">
            <p class="fontBlueNormal">Profile > Record Data</p>
        </div>
        <div class="profileInfo">
            <img src="/vickyhamilton.png" alt="default patient img">
            <p class="proName">Pat Health</p>
            <p class="rightContent">Username: path123</p>
        </div>
    </section>

    <section id="recordDataText">
        <section></section>
        <p class="smallTitle">Record Data</p>
        <section>
            <h2 class="fontBlue"><tag class="fontRed">Start Your Day</tag> By Keeping Track Of Your Health Details Daily</h2>
        </section>
        <p class="titleBlack">Health Data Details</p>
        <section></section>
    </section>

    <section id="recordBars">
        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">
                    <h3>Blood Glucose Level (in mmol/L)</h3>
                    <h3>Date (DD/MM/YYYY)</h3>
                    <h3>Alert</h3>
                    <input type="text" placeholder="XX">
                    <input type="text" placeholder="XX">
                    <!-- switch application is referenced -->
                    <div class="SwitchIcon">
                        <div class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" onclick="SwitchClick()" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </div>
                    </div>
                    <h3>Comments</h3>
                    <section></section>
                    <p class="fontRed">*press if there is any problem to notify the clinician</p>
                    <textarea placeholder="XX"></textarea>
                    <section class="RecordBotton">
                        <input type="submit" value="Save" class="fontWhiteBold">
                    </section>
                </section>
            </section>
        </section>

        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">
                    <h3>Weight</h3>
                    <h3>Date (DD/MM/YYYY)</h3>
                    <h3>Alert</h3>
                    <input type="text" placeholder="XX" class="fixed">
                    <input type="text" placeholder="XX" class="fixed">
                    <!-- switch application is referenced -->
                    <div class="SwitchIcon">
                        <div class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" onclick="SwitchClick()" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </div>
                    </div>
                    <h3>Comments</h3>
                    <section></section>
                    <p class="fontRed">*press if there is any problem to notify the clinician</p>
                    <textarea placeholder="XX" class="fixed"></textarea>
                    <section class="RecordBotton">
                        <input type="submit" value="Save" class="fontWhiteBold">
                    </section>
                </section>
            </section>
        </section>

        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">
                    <h3>Doses Of Insulin Taken (number of doses)</h3>
                    <h3>Date (DD/MM/YYYY)</h3>
                    <h3>Alert</h3>
                    <input type="text" placeholder="XX" class="fixed">
                    <input type="text" placeholder="XX" class="fixed">
                    <!-- switch application is referenced -->
                    <div class="SwitchIcon">
                        <div class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" onclick="SwitchClick()" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </div>
                    </div>
                    <h3>Comments</h3>
                    <section></section>
                    <p class="fontRed">*press if there is any problem to notify the clinician</p>
                    <textarea placeholder="XX" class="fixed"></textarea>
                    <section class="RecordBotton">
                        <input type="submit" value="Save" class="fontWhiteBold">
                    </section>
                </section>
            </section>
        </section>

        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">
                    <h3>Exercise (step count)</h3>
                    <h3>Date (DD/MM/YYYY)</h3>
                    <h3>Alert</h3>
                    <input type="text" placeholder="XX" class="fixed">
                    <input type="text" placeholder="XX" class="fixed">
                    <!-- switch application is referenced -->
                    <div class="SwitchIcon">
                        <div class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" onclick="SwitchClick()" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </div>
                    </div>
                    <h3>Comments</h3>
                    <section></section>
                    <p class="fontRed">*press if there is any problem to notify the clinician</p>
                    <textarea placeholder="XX" class="fixed"></textarea>
                    <section class="RecordBotton">
                        <input type="submit" value="Save" class="fontWhiteBold">
                    </section>
                </section>
            </section>
        </section>
    </section>
    

    <section id="directSection">
        <section id="directHeader">   
            <p id="directM" class="smallTitle">Get Accessed To</p>         
        </section>

        <section id="webDetailButtonHolder">
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="clinician note"></div>
                <p class="ButtonAText">Record Data</Datag></p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="clinician contacts"></div>
                <p class="ButtonAText">Clinician Contacts</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/achievementsicon.png" alt="patient comments"></div>
                <p class="ButtonAText">Achievements</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
        </section>
    </section>
    
    
</section>