<section id="patientEnter">
    <h1>Patient record data</h1> 
 
    <form action="/patientRecord" method="POST">
        <input type="text" placeholder="xx" name="blood_glucose" />
        <input type="text" placeholder="xx" name="Date" /></br>
        <input type="text" placeholder="xx" name="Comment" />
        <input type="submit" />
    </form>
    
</section>