<section id="patientEnter">

    <section class="blueLine"></section>

    <section id="profile">
        <section id="directP">
            <h2><a href="home" class="fontBlueNormal">Profile</a> > <a href="" class="fontBlueNormal">Record Data</a></h2>
        </section>
        <section class="profileInfo">
            <img src="/vickyhamilton.png" alt="default patient img">
            <p class="proName">Pat Health</p>
            <p class="rightContent">Username: path123</p>
        </section>
    </section>

    <section id="recordDataText">
        <section></section>
        <h1 class="fontBlue">Record Data</h1>
        <section>
            <h2 class="fontBlue"><tag class="fontRed">Start Your Day</tag> By Keeping Track Of Your Health Details Daily</h2>
        </section>
        <h1 class="titleBlack">Health Data Details</h1>
        <section></section>
    </section>

    
    <section id="recordBars">
        <section class="RecordBar">
            
            <section class="RecordBlueBar">
                {{#if log_glucose}}
                    <section class="RecordInnerBar">
                        
                        <form id="recordArea" method="POST" action="/patient/{{id}}/submit_log">
                            
                                <b>Health Data Name</b><input type="text" value="blood glucose level" name="data_name" readonly>
                                <b>Value</b><input type="text" placeholder="xx" name="value" >
                                <b>Comments</b><input type="text" placeholder="xx" name="comment" >
                                <input type="submit"  class="fontWhiteBold" value="Save">
                            
                        </form>
                        
                            
                        <!-- switch application is referenced -->
                        <section class="SwitchIcon">
                            <h3>Alert</h3>
                            <section class="toggle-button-wrapper">
                                <input type="checkbox" id="toggle-button" name="switch" checked>
                                <label for="toggle-button" class="button-label">
                                    <span class="circle"></span>
                                    <span class="text off">OFF</span>
                                    <span class="text on">ON</span>
                                </label>
                            </section>
                            <p class="fontRed">*press if there is any problem to notify the clinician</p>
                        </section>
                            
                            
                            
                    </section>
                {{/if}}
            </section>
        </section>
        

        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">
                    <form id="recordArea" method="POST">
                        <b>Health Data Name</b><input type="text" value="weight" name="data_name" readonly/>
                        <b>Value</b><input type="text" placeholder="xx" class="fixed" name="value" />
                        <b>Comments</b><input type="text" placeholder="xx" class="fixed" name="comment" />
                        <input type="submit" value="Save" class="fontWhiteBold"/>
                    </form>

                    <!-- switch application is referenced -->
                    <section class="SwitchIcon">
                        <h3>Alert</h3>
                        <section class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </section>
                        <p class="fontRed">*press if there is any problem to notify the clinician</p>
                    </section>
                    
                   
                    
                </section>
            </section>
        </section>

        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">
                    <form id="recordArea" method="POST">
                        <b>Health Data Name</b><input type="text" value="insulin take" name="data_name" readonly/>
                        <b>Value</b><input type="text" placeholder="xx" class="fixed" name="value" />
                        <b>Comments</b><input type="text" placeholder="xx" class="fixed" name="comment" />
                        <input type="submit" value="Save" class="fontWhiteBold"/>
                    </form>
    
                    <!-- switch application is referenced -->
                    <section class="SwitchIcon">
                        <h3>Alert</h3>
                        <section class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </section>
                        <p class="fontRed">*press if there is any problem to notify the clinician</p>
                    </section>
                    
                </section>
            </section>
        </section>

        <section class="RecordBar">
            <section class="RecordBlueBar">
                <section class="RecordInnerBar">
                    <form id="recordArea" method="POST">
                        <b>Health Data Name</b><input type="text" value="exercises" name="data_name" readonly/>
                        <b>Value</b><input type="text" placeholder="xx" class="fixed" name="value" />
                        <b>Comments</b><input type="text" placeholder="xx" class="fixed" name="comment" />
                        <input type="submit" value="Save" class="fontWhiteBold"/>
                    </form>
                    
                    <!-- switch application is referenced -->
                    <section class="SwitchIcon">
                        <h3>Alert</h3>
                        <section class="toggle-button-wrapper">
                            <input type="checkbox" id="toggle-button" name="switch" checked>
                            <label for="toggle-button" class="button-label">
                                <span class="circle"></span>
                                <span class="text off">OFF</span>
                                <span class="text on">ON</span>
                            </label>
                        </section><p class="fontRed">*press if there is any problem to notify the clinician</p>
                    </section>
                    
                </section>
            </section>
        </section>
    </section>
    

    <section id="directSection">
        <section id="directHeader">   
            <h1 id="directM" class="fontBlue">Get Accessed To</h1>         
        </section>

        <section id="webDetailButtonHolder">
            <a class="reDirectButtonA" href=""><section class="Jbot">
                <div class="Jimg"><img src="/clinicalnotes&recorddataicon.png" alt="clinician note"></div>
                <p class="ButtonAText">Record Data</Datag></p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href=""><section class="Jbot">
                <div class="Jimg"><img src="/contactsicon.png" alt="clinician contacts"></div>
                <p class="ButtonAText">Clinician Contacts</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
            <div></div>
            <a class="reDirectButtonA" href=""><section class="Jbot">
                <div class="Jimg"><img src="/achievementsicon.png" alt="patient comments"></div>
                <p class="ButtonAText">Achievements</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </section></a>
        </section>
    </section>
    
    
</section>