<section id="diabetesInfo">
    <!-- Navigation bar -->
    <div id="bar">
        <div id="barGap"></div>
        <div id="barLeft">
            <div><a href="/" class="fontWhiteNormal">About Website</a></div>
            <div><a href="" class="fontWhiteNormal">Covid-19</a></div>
            <div><a href="" class="fontWhiteNormal">Healthcare</a></div>
            <div><a href="" class="fontWhiteNormal">Our Services</a></div>
        </div>
        <div id="barRight"><a href="#" class="fontWhiteNormal">MyDiabetes Account</a></div>
    </div>

    <div id="info">
        <div id="infoHeader">
            <div></div>
            <h1>
                What is Diabetes?
            </h1>
        </div>
        <div id="infoText">
            <div id="infoTextImg">
                <p id="infoTextP">
                    Diabetes is a disease that occurs when a person's blood sugar 
                    is too high. Blood sugar is people's main energy source, from 
                    the food people eat. Insulin is a hormone produced by the 
                    pancreas, which can help glucose in food enter human cells 
                    for energy. Sometimes, the human body cannot produce 
                    enough or any insulin, or cannot use insulin well. Glucose will 
                    remain in the human blood and will not reach the cells. Over 
                    time, too much glucose in the blood can lead to health 
                    problems. Symptoms include excessive drinking, polyuria, 
                    overeating, weight loss, fatigue, and obesity. Diabetes is mainly 
                    divided into three types: Type 1 diabetes, Type 2 diabetes and 
                    Gestational diabetes. Although diabetes can not be cured, 
                    people can prevent diabetes by controlling diet and exercise.
                </p>
                <div id = infoImg>
                    <img src="/infographic.jpg" alt="Diabetes-description-symptoms-treatment">
                </div>

                
            </div>
        </div>
        <div id="infoEmbededVid">
            <div id = arrowImg>
                <img src="/bluearrow.png" alt="blue-SmallerSign">
                <img src="/bluearrow.png" alt="blue-SmallerSign">
            </div>
            <div id="vid1">
                <iframe width="500" height="280" src="https://www.youtube.com/embed/-OmaH3dCyq8" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="vidP"><p>What Causes Diabetes</p></div>
            </div>
            <div id="vid2">
                <iframe width="500" height="280" src="https://www.youtube.com/embed/AM5MgWN5C8c" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="vidP"><p>5 Diet Tips For Diabetes</p></div>
            </div>
        </div>
    </div>

    <!-- join -->
    <div id="joinSection">
        <div id="joinHeader">
            <div id="joinHeaderDisplayBox">
                <div class="plussign"><img src="/plussign.png" alt="plussign"></div>
                <p class="smallTitle">Join As A Member</p>
                <div class="plussign"><img src="/plussign.png" alt="plussign"></div>
            </div>
            
        </div>
        <div id="joinSectionBody">Both patients and clinicians need to log in in order to access more functions for managing patients&#39; 
            diabetes in the convenience of their own home, recording data that can be monitored remotely body clinicians. Therefore, 
            log in and join as a member in order to access full records of your own health. </div>
        <div id="joinButtonHolder">
            <a class="reDirectButtonA" href="patient/625e79ce43e41e6e83e2014b/home"><div class="Jbot">
                <div class="Jimg"><img src="/patienticon.png" alt="happy patient in green"></div>
                <p class="ButtonAText">Log in as "Patient"</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href="clinician/62681f79228c6586c1a5b583/dashboard"><div class="Jbot">
                <div class="Jimg"><img src="/clinicianicon.png" alt="happy doctor in blue"></div>
                <p class="ButtonAText">Log in as "Clinician"</p>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
        </div>
    </div>

    <!-- foot -->
    <div id="foot">
        <div id="contact">
            <div id="cline1">
                <p></p>
                <h2 id="footHeader1" class="fontBlue">Diabetes@Home</h2>
                <p> <a class="inLineLink" href="/">About Us</a> </p>
                <p> <a class="inLineLink" href="diabetesInfo">About Diabetes</a> </p>
                <p> <a class="inLineLink" href="">Covid-19</a> </p>
                <p> <a class="inLineLink" href="">Our Services</a></p>
                <p> <a class="inLineLink" href="">Privacy</a> </p>
                <p> <a class="inLineLink" href="">Terms of Use</a> </p>
                <p></p>
            </div>
            <div id="cline2">
                <p></p>
                <h2 id="footHeader2" class="fontBlue">Healthcare Professionals</h2>
                <p> <a class="inLineLink" href="">General Practice</a> </p>
                <p> <a class="inLineLink" href="">Community Pharmacy</a> </p>
                <p> <a class="inLineLink" href="">Specialist Practice</a> </p>
                <p> <a class="inLineLink" href="">Hospitals</a> </p>
                <p> <a class="inLineLink" href="">Healthcare Professional Information's</a> </p>
                <p> <a class="inLineLink" href="">Careers</a> </p>
                <p></p>
            </div>
            <div id="cline3">
                <p></p>
                <h2 id="footHeader3" class="fontBlue">Need Help?</h2>
                <p class="fontRed">Contact the Help Line 24/7: 9988 8866</p>
                <p> <a class="inLineLink" href="">Contacts for Healthcare Professionals</a> </p>
                <p> <a class="inLineLink" href="">Sitemap</a> </p>
                <p> <a class="inLineLink" href="">Acessibility</a> </p>
                <p> <a class="inLineLink" href="">Copyright</a> </p>
                <p> <a class="inLineLink" href="">Sitemap</a> </p>
                <p></p>
            </div>
        </div>
    </div>
</section>