<section id="patientHome">
    <section id="patientInfo">
        <div class="blueLine"></div>
        <section id="patProfile">
            <section id="patProfileInfo">
                <div id="patImg"><img src="/vickyhamilton.png" alt="default patient img"></div>
                <p id="patName" class="fontBlue">Pat Health</p>
                <h6>Username: PatH123</h6>
            </section>
            
        </section>
    </section>
    
</section>