<section id="patientHome">
    <section id="patientInfo">
        <div class="blueLine"></div>
        <section id="patProfile">
            <section id="patProfileInfo">
                <section id="pImg">
                    <img src="/vickyhamilton.png" alt="default patient img">
                    <p class="fontBlue">Pat Health</p>
                </section>
                
                <section id="perInfo1"> 
                    <p><b>Username:</b> patH123</p>
                    <p><b>Email:</b> patH123@gmail.com</p>
                    <p><b>D.O.B:</b> 12/03/1973</p>
                </section>

                <section id="perInfo2"> 
                    <p><b>Clinician In Charge:</b> Chris Brown</p>
                    <p><b>Biography:</b> I enjoy travelling around the world and engage with other cultures</p>
                </section>

                <section id="editProfile">
                    <div class="fontWhiteBold"><p>Edit Profile</p></div>
                </section>
            </section>

            <section id="badges">
                <section id="badgesContent">
                    <p class="fontBlue">Badges</p>
                    <img src="/trophygif.gif" alt="badge image">
                </section>
            </section>
        </section>

        
    </section>

    <section id="dailyData">
        <h1 class="fontBlue">Daily Data</h1>
        <section id="todayData">
            <section id="tableHead">
                <div id="today"><p>Today</p></div>
                <div id="recordData" class="fontBlueNormal"><p><a href="dataEnter">Record Data</a></p></div>
                <div id="viewAll" class="fontGreen"><p><a href="">View All</a></p></div>
            </section>
            
                
            <table id="onePatTodayTable" class="tableClass">
                <tr>
                    <th>Date</th>
                    <th>Blood Glucose Level
                        (in mmol/L)</th>
                    <th>Weight (in kg)</th>
                    <th>Number of Insulin
                        Doses Taken</th>
                    <th>Exercises
                        (step count)</th>
                </tr> 
                <tr>
                    <td>17/03/2022</td>
                    <td>-</td>
                    <td>76.2</td>
                    <td>-</td>
                </tr>
            </table>
        </section>
    </section>
    
</section>