<section id="aboutWeb">
    <!-- Navigation bar -->
    <div id="bar">
        <div id="barGap"></div>
        <div id="barLeft">
            <div><a href="diabetesInfo" class="fontWhiteNormal"> <p>About Diabetes</p> </a></div>
            <div><a href="" class="fontWhiteNormal"> <p>Covid-19</p> </a></div>
            <div><a href="" class="fontWhiteNormal"> <p>Healthcare</p> </a></div>
            <div><a href="" class="fontWhiteNormal"> <p>Our Services</p> </a></div>
        </div>
        <div id="barRight"><a href="" class="fontWhiteNormal"> <p>MyDiabetes Account</p> </a></div>
    </div>

    <!-- Mezzanine -->
    <div id="mezzanine">
        <div id="mezzanineTextButtonHolder">
            <div id="mtext">
                <h1 id="signInText" class="fontBlue">Sign In</h1>
                <h2> as Clinician or Patient</h2>
                <h2 id="to">
                    to <span id="Access" class="fontBlue">access records </span>   
                </h2>
                <h2>and</h2>
                <h2 class="fontBlue">keep track of your own health</h2>
            </div>
            <div id="logInPatient"> <a class="fontWhiteBold" href="/login">Log in as <br>Patient</a></div>
            <div id="mlText"> or </div>
            <div id="logInClinician"> <a class="fontWhiteBold" href="/login">Log in as <br>Clinician</a></div>
        </div>
        <div id="mezzanineImgHolder">
            <div id="mr1"><img src="/sugar.png" alt="sugar"></div>
            <div id="mr2"><img src="/diabetes.png" alt="diabetes"></div>
        </div>
    </div>

    <!-- text -->
    <div id="webDetailSection">
        <div id="webDetailHeader">
            <div id="webDetailHeaderDisplayBox">
                <div class="plussign"><img src="/plussign.png" alt="plussign"></div>
                <p class="smallTitle">About This Website</p>
                <div class="plussign"><img src="/plussign.png" alt="plussign"></div>
            </div>
        </div>
        <div id="webDetailBody">Diabetes@Home is a digital health solution software built by 5 students studying in the University of 
            Melbourne. This website aims to help patients manage their diabetes at home and help clinicians to monitored the 
            situations of their patients remotely. Patients can record health data, view data they have recorded and add comments. 
            Clinicians can track their patients by monitoring their health data, encourage their patients by sending messages to 
            them, and view patients' comments. It is very user-friendly and learnable. The patient UI works well on phone, tablet
            and desktop sized screens while the clinician UI only works on desktop sized screens. Both clinicians and patients need
            to log in in order to access most of the functions. </div>
        <div></div>
        <div id="webDetailButtonHolder">
            <a class="reDirectButtonA" href="diabetesInfo"><div class="Jbot">
                <div class="Jimg"><img src="/diabetesicon.png" alt="Blood drop from hand"></div>
                <div class="ButtonAText"><p>About Diabetes</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/covidicon.png" alt="hand wave from blood droplet"></div>
                <div class="ButtonAText"><p>Covid-19</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href=""><div class="Jbot">
                <div class="Jimg"><img src="/heartbeaticon.png" alt="heart beat"></div>
                <div class="ButtonAText"><p>My Diabetes</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
        </div>
    </div>

    <!-- join -->
    <div id="joinSection">
        <div id="joinHeader">
            <div id="joinHeaderDisplayBox">
                <div class="plussign"><img src="/plussign.png" alt="plussign"></div>
                <p class="smallTitle">Join As A Member</p>
                <div class="plussign"><img src="/plussign.png" alt="plussign"></div>
            </div>
            
        </div>
        <div id="joinSectionBody">Both patients and clinicians need to log in in order to access more functions for managing patients&#39; 
            diabetes in the convenience of their own home, recording data that can be monitored remotely body clinicians. Therefore, 
            log in and join as a member in order to access full records of your own health. </div>
        <div id="joinButtonHolder">
            <a class="reDirectButtonA" href="/login"><div class="Jbot">
                <div class="Jimg"><img src="/patienticon.png" alt="happy patient in green"></div>
                <div class="ButtonAText"><p>Log in as "Patient"</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
            <div></div>
            <a class="reDirectButtonA" href="/login"><div class="Jbot">
                <div class="Jimg"><img src="/clinicianicon.png" alt="happy doctor in blue"></div>
                <div class="ButtonAText"><p>Log in as "Clinician"</p></div>
                <div class="Jarr"><img src="/bluecirclearrow.png" alt="right arrow"></div>
            </div></a>
        </div>
    </div>

    <!-- foot -->
    <section id="foot">
        <section id="contact">
            <section id="cline1">
                <p></p>
                <h2 id="footHeader1" class="fontBlue">Diabetes@Home</h2>
                <p> <a class="inLineLink" href="/">About Us</a> </p>
                <p> <a class="inLineLink" href="diabetesInfo">About Diabetes</a> </p>
                <p> <a class="inLineLink" href="">Covid-19</a> </p>
                <p> <a class="inLineLink" href="">Our Services</a></p>
                <p> <a class="inLineLink" href="">Privacy</a> </p>
                <p> <a class="inLineLink" href="">Terms of Use</a> </p>
                <p></p>
            </section>
            <section id="cline2">
                <p></p>
                <h2 id="footHeader2" class="fontBlue">Healthcare Professionals</h2>
                <p> <a class="inLineLink" href="">General Practice</a> </p>
                <p> <a class="inLineLink" href="">Community Pharmacy</a> </p>
                <p> <a class="inLineLink" href="">Specialist Practice</a> </p>
                <p> <a class="inLineLink" href="">Hospitals</a> </p>
                <p> <a class="inLineLink" href="">Healthcare Professional Information's</a> </p>
                <p> <a class="inLineLink" href="">Careers</a> </p>
                <p></p>
            </section>
            <section id="cline3">
                <p></p>
                <h2 id="footHeader3" class="fontBlue">Need Help?</h2>
                <p class="fontRed">Contact the Help Line 24/7: 9988 8866</p>
                <p> <a class="inLineLink" href="">Contacts for Healthcare Professionals</a> </p>
                <p> <a class="inLineLink" href="">Sitemap</a> </p>
                <p> <a class="inLineLink" href="">Acessibility</a> </p>
                <p> <a class="inLineLink" href="">Copyright</a> </p>
                <p> <a class="inLineLink" href="">Sitemap</a> </p>
                <p></p>
            </section>
        </section>
    </section>
</section>