/* note for phone with become 375.2 note not 375
by using data base the image of look disappear
if you interested in how to place footer at bottom refer to line 625 (give the grid a height) */
/* part 1 --------------------------------------------------------- overwrite and customize tags */
div, section {
    display: grid;
    float: left;
    width: 100%;
    height: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}

input {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 2vh;
    opacity: 1;
    font-size: 2vh;
}

input[type="submit"] {
    background-color: #5b8dc6;
}

input::placeholder {
    font-size: 2vh;
}

input:hover[type="submit"] {
    background-color: #9ab7e2;
    cursor: pointer;
}

textarea {
    height: 100%;
    width: 100%;
    border: 3px #5b8dc6 solid;
    border-radius: 2vh;
    font-size: 2vh;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

/* font */
h1 {
    color: #5b8dc6;
    margin: 0;
    font-size: 2em;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2em;
}

h5 {
    margin: 0px;
}

/* customize image */
img {
    display: block;
    max-height: 90%;
    max-width: 90%;
}

/* customize table*/
table{
    width: 100%;
    border-collapse: collapse;
    border-radius: 2vh;
}

table tr:first-child th:first-child {
    border-top-left-radius: 2vh;
}

table tr:first-child th:last-child {
    border-top-right-radius: 2vh;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 2vh;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 2vh;
}

table td, 
table th{
    width: 30px;
    height: 40px;
    font-size: 1.1em;
    padding: 3px 7px 2px 7px;
    background-color: #fff;
}

table th {
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #5f8acb;
    color: #fff;
}

table td {
    border-top-style: solid;
    border-top-color: #5f8acb;
    border-top-width: 2.5px;
}

form {
    width: 80%;
    font-size: 1.3em;
    justify-content: left;
    justify-items: left;
}

select {
    width: 70%;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 0.7em;
    overflow: hidden;
    text-overflow: ellipsis;
    background: #5f8acb;
    color: #fff;
}

/*part 2 ---------------------------------------------------------- customize class */
/* customize font */
.fontWhiteBold,
.saveButton {
    color: #fff;
    font-weight: 900;
}

.fontWhiteNormal {
    color: #fff;
    font-weight: 500;
}

.fontBlue {
    color: #578ad6;
    font-weight: bolder;
}

.fontBlueNormal {
    color: #578ad6;
}

.fontRed {
    color: red;
}

.fontRedBold {
    color: red;
    font-weight: bolder;
}

.fontGreen {
    color: green;
}

.titleBlack {
    color: black;
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: bold;
}

.smallTitle {
    color: #578ad6;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 500;
}

/* customize image */
.plussign img {
    width: 35px;
    height: 35px;
}

/* application for customize buttons */
.Jbot {
    border-radius: 3vh;
    border: 4px #578ad6 solid;
    height: 20vh;
    grid-template-columns: 5% 30% 50% 10% 5%;
    grid-template-rows: 5% 60% 30% 5%;
    grid-template-areas:
        ". . . . ."
        ". Jim Jim Jim ."
        ". Jte . Jar ."
        ". . . . .";
}

.Jbot:hover {
    background-color: #ecf3ff;
}

.Jimg {
    grid-area: Jim;
    height: 10vh;
}

.ButtonAText {
    grid-area: Jte;
    color: #578ad6;
    font-weight: 900;
    font-size: 25px;
}

.Jarr {
    grid-area: Jar;
}

.reDirectButtonA {
    width: 100%;
    height: 100%;
}

/* application for customize videos */
.vidP {
    display: inline;
    grid-area: vidP;
    text-align: left;
    text-indent: 40px;
    font-size: 30px;
}
  

/*part 3 ---------------------------------------------------------- customize id*/
/*@ main Web, Layout**********************************************/
/* h: header banner
   f: bottom banner
*/
body {
    display: grid;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
    grid-template-rows: 12vh auto 6vh;
    grid-template-areas: "h"
        "."
        "f";
}
/* header band styling */
/* Contain the LOGO + Name of website (diabetes@Home) */
header {
    display: grid;
    grid-area: h;
    grid-template-columns: 7% 43% 8.6% 34.4% 7%;
    grid-template-areas: ". hl . hr .";
}

#headLeft {
    grid-area: hl;
    grid-template-columns: 15% 3% 82%;
    grid-template-areas: "hl . hn";
}

#logo {
    grid-area: hl;
}

#logo img {
    width: 70%;
    height: 70%;
}

#name {
    grid-area: hn;
    justify-items: left;
    font-style: italic;
    font-family: sans-serif;
    color: #578ad6;
}

#name h1 {
    font-weight: normal;
    font-size: 2vw;
}

#headRight {
    grid-area: hr;
    grid-template-columns: 30% 60% 10%;
    grid-template-rows: 35% 30% 35%;
    grid-template-areas:
        ". . ."
        ". hsb ."
        ". . .";
}

#searchBar {
    grid-area: hsb;
    grid-template-columns: 80% 20%;
    border: 0.3vh solid #5d8ed7;
    border-radius: 2vh;
    border-right: 0vh;
    background-color: white;
}

#searchBar2 {
    width: 60%;
    float: right;
    grid-area: hsb;
    grid-template-columns: 80% 20%;
    border: 0.3vh solid #5d8ed7;
    border-radius: 2vh;
    border-right: 0vh;
    background-color: white;
}

#look,
#smallLook {
    background-image: url(../whitesearchtool.png);
    background-repeat: no-repeat;
    background-size: 3vh;
    background-position: center;
    display: inline-block;
}

#smallLook {
    background-size: 2vh;
}

/* footer band styling */
footer {
    display: grid;
    grid-area: f;
    background-color: #578ad6;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: ". fm .";
}

#fMiddle {
    grid-area: fm;
    grid-template-columns: repeat(4, 6vh) 50%;
    color: #fff;
}

#fMiddle h5 {
    font-size: 2vh;
    font-weight: normal;
}

footer img {
    border: 1vh;
    max-height: 2.5vh;
    max-width: 2.5vh;
    opacity: 0.8;
}

footer img:hover {
    border: 0.5vh;
    max-height: 3.1vh;
    max-width: 3.1vh;
    opacity: 1;
}
/*@ aboutWeb, Layout**********************************************/
/* b: navigation bar section
   jw: aboutWebDetailSection
   j: joinLinkSection
   fl: foot link
*/
#aboutWeb {
    font-family: sans-serif;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 7vh 70vh 80vh 73vh 30vh;
    grid-template-areas:
        "b b b"
        "m m m"
        ". jw ."
        ". j ."
        ". fl .";
}

/* Navigation Bar */
#bar {
    grid-area: b;
    font-size: 1vw;
    font-weight: bold;
    grid-template-rows: 6% 14% 80%;
    grid-template-columns: 5% 60% 30% 5%;
    grid-template-areas:
        ". . . ."
        "bg bg bg bg"
        ". bl br .";
    background-color: #578ad6;
}

#barGap {
    grid-area: bg;
    background-color: #ffffff;
}

#barLeft {
    grid-area: bl;
    grid-template-columns: repeat(4, 25%);
}

#barLeft div:hover,
#barRight:hover {
    background-color: #507fc5;
    border-radius: 1.5vh;
}

#barRight {
    grid-area: br;
}

/* Mezzanine */
#mezzanine {
    grid-area: m;
    background-image: url(../chemicalbackdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-template-columns: 7% 55% 1% 30% 7%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
        ". . . . ."
        ". ml . mr ."
        ". . . . .";
}

#mezzanineTextButtonHolder {
    grid-area: ml;
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-template-rows: 70% 10% 20%;
    grid-template-areas:
        ". mt mt mt ."
        ". . . . . "
        ". mlc mlText mlp .";
}

#mezzanineImgHolder {
    grid-area: mr;
    grid-template-rows: 40% 20% 40%;
    grid-template-areas:
        "mr1"
        "."
        "mr2";
}

#logInClinician {
    text-align: center;
    grid-area: mlc;
    background: #578ad6;
    font-size: 1.9vh;
    border-radius: 1.5vh;
    width: 15vw;
    height: 8vh;
}

#logInPatient {
    text-align: center;
    grid-area: mlp;
    background: #578ad6;
    font-size: 1.9vh;
    border-radius: 1.5vh;
    width: 15vw;
    height: 8vh;
}

#mtext {
    grid-area: mt;
    grid-template-rows: repeat(5, 20%);
}

#mlText {
    grid-area: mlText;
    font: 2em sans-serif;
}

#logInPatient:hover,
#logInClinician:hover {
    background: #4979c2;
}

#mr1 {
    grid-area: mr1;
    height: 135%;
}

#mr2 {
    grid-area: mr2;
    height: 135%;
}

#directSection {
    grid-area: ds;
    grid-template-rows: 20% 8% 15% 42% 15%;
    grid-template-areas:
        "."
        "dh"
        "."
        "jb3"
        ".";
}

#directHeader {
    grid-area: dh;
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
    grid-template-columns: 25% 75%;
    grid-template-areas: "dm .";
    
}

#directionM {
    grid-area: dm;
}

/* clinician sign up page */
#clinicianSignUp {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 130vh;
    grid-template-areas: 
        "signUpSession signUpSession signUpSession";
}

#signUpSession {
    grid-area: signUpSession;
    grid-template-rows: 2% 8% 80% 10%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        "bl bl bl"
        ". . ."
        ". signUpContent ."
        ". . .";

}

#signUpContent {
    grid-area: signUpContent;
    grid-template-columns: 3% 47% 47% 3%;
    grid-template-areas: ". signUpLeft signUpRight .";
}

#signUpLeft {
    grid-area: signUpLeft;
    border-right: 1px #578ad6 solid;
    grid-template-rows: none;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
}

#signUpLeft form {
    margin-top: 50px;
    margin-right: 130px;
}

#signUpLeft input {
    border: #578ad6 3px solid;
    font-size: large;
    margin-top: 30px;
    height: 55px;
}

#signUpRight {
    grid-area: signUpRight;
    grid-template-rows: 10% 90%;
    grid-template-columns: none;
    grid-template-areas: 
        "signUpRightTitle"
        "help";
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
    margin-left: 130px;
}

#help {
    grid-area: help;
    justify-items: left;
    align-items: start;
    align-content: start;
    grid-template-columns: none;
    grid-template-rows: none;
}

#help h2 {
    font-size: 1.2em;
    text-align: left;
}

#signUpRightTitle {
    grid-area: signUpRightTitle;
}

/*clinician profile page */
#clinicianProfile {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 100vh;
    grid-template-areas: "cliProfileSection cliProfileSection cliProfileSection";
}

#cliProfileSection {
    grid-area: cliProfileSection;
    grid-template-rows: 5% 85% 10%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        "bl bl bl"
        "cliprofileContent cliprofileContent cliprofileContent"
        ". . .";
}

#cliprofileContent {
    grid-area: cliprofileContent;
    grid-template-columns: 7% 23% 5% 58% 7%;
    grid-template-rows: 10% 85% 5%;
    grid-template-areas: 
        ". . . . ."
        ". cliProfileInfo. cliprofileRight ."
        ". . . . .";
    background-image: linear-gradient(180deg, #deebf5 30%, white 0%);
}

#cliProfileInfo {
    grid-area: cliProfileInfo;
    border-radius: 3vh;
    background-color: #fff;
    grid-template-columns: 3% 94% 3%;
    grid-template-rows: 3% 30% 54% 10% 3%;
    grid-template-areas: 
        ". . ."
        ". cliIm ."
        ". perInfo ."
        ". editP ."
        ". . .";
    box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
}

#perInfo {
    grid-area: perInfo;
    justify-items: left;
    grid-template-rows: none;
}

#cliImg {
    grid-area: cliIm;
    grid-template-columns: none;
    grid-template-rows: none;
}

#cliImg img {
    height: 70%;
}

#cliprofileRight {
    grid-area: cliprofileRight;
    grid-template-rows: 10% 20% 20% 50%;
    grid-template-areas: 
        "."
        "buttonWithText"
        "."
        "jb3";
}

.buttonWithText {
    grid-area: buttonWithText;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: left;
    grid-template-rows: 45% 10% 45%;
    grid-template-areas:
        "buttonTopText"
        "."
        "editP";
}

#cliprofileRight .buttonWithText .blueButton{
    font-size: 2.2vh;
    border-radius: 2.5vh;
    width: 24vw;
    height: 6vh;
    margin-top: 2vh;
}

.buttonWithText h1 {
    grid-area: buttonTopText;
    font-weight: 500;
}

/* edit pofile page */
#editProfile {
    grid-area: editProfile;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 120vh;
    grid-template-areas: "editProfileSection editProfileSection editProfileSection";
}

#editProfileSection {
    grid-area: editProfileSection;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 3% 8% 79% 10%;
    grid-template-areas:
        "bl bl bl"
        ". . ."
        ". editProfileContent ."
        ". . .";
}

#editProfileContent{
    grid-area: editProfileContent;
    grid-template-columns: 5% 30% 5% 5% 50% 5%;
    grid-template-rows: 100%;
    grid-template-areas: 
        ". editProfileContentLeft . . editProfileContentRight .";
    align-items: start;
    align-content: start;
}

#editProfileContentRight {
    grid-area: editProfileContentRight;
    grid-template-rows: 80% 20%;
    grid-template-areas: 
        "editForm1"
        ".";
}

#editForm1{
    grid-area: editForm1;
    font-size: larger;
    grid-template-rows: none;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: left;
       
}

#editForm1 input {
    border: #578ad6 3px solid;
    font-size: large;
    margin-top: 30px;
    height: 55px;
}

#editForm1 form {
    margin-top: 50px;
    font-size: larger;
}

#editProfileContentLeft {
    grid-area: editProfileContentLeft;
    grid-template-rows: 30% 40% 30%;
    grid-template-areas:
        "editImg"
        "editBiography"
        "editProfileCancel";
    align-items: start;
    align-content: start;
}

#editProfileCancel {
    grid-area: editProfileCancel;
    font-size: larger;
    height: 7vh;
    width: 20vh;
    font-weight: bold;
    color: #fff;
}

#editImg {
    grid-area: editImg;
    grid-template-rows: none;
    align-items: start;
    align-content: start;
}

#editImg img {
    height: 40%;
    margin-top: 20px;
}

#editBiography {
    grid-area: editBiography;
    align-items: start;
    align-content: start;
    justify-items: stretch;
}

#editBiography input {
    border: #578ad6 3px solid;
    font-size: large;
    height: 200px;
}

/*@ clinicanHome, Layout**********************************************/
#clinicianHome {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 40vh 90vh 50vh;
    grid-template-areas:
        "ci ci ci"
        "allP allP allP"
        ". ds .";
}

#clinicianInfo {
    grid-area: ci;
    grid-template-rows: 5% 4% 60% 31%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas: 
        ". . ."
        "bl bl bl"
        "prof prof prof"
        ". dt .";
}

.blueLine {
    grid-area: bl;
    background-color: #578ad6;
}

#profile {
    grid-area: prof;
    grid-template-rows: 15% 10% 15% 40% 20%;
    grid-template-columns: 7% 86% 7%;
    background-color: #deebf5;
    grid-template-areas:
        ". . ."
        ". proP ."
        ". . ."
        ". proI ."
        ". . .";
}

#directP {
    grid-area: proP;
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
    /*font-size: ; */
}

#directP h2{
    font-weight: normal;
    font-size: 1.2em;
}

.profileInfo {
    grid-area: proI;
    margin: 0px;
    padding: 0px;
    border-radius: 3vh;
    background-color: #fff;
    grid-template-columns: 7% 5% 1% 9% 56% 15% 7%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas:
        ". . . . . . ."
        ". cImg . cName . rightContent ."
        ". . . . . . .";
}

.profileInfo img {
    grid-area: cImg;
}

.proName {
    grid-area: cName;
    justify-content: left;
    justify-items: left;
    color: #578ad6;
    font-weight: bolder;
}

.rightContent {
    grid-area: rightContent;
    color: #578ad6;
    font-weight: bolder;
}

#firstBigText {
    grid-area: dt;
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
}

#allPatients {
    background-color: #deebf5;
    align-items: start;
    grid-area: allP;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". . ."
        ". pl ."
        ". . .";
}

/*login page*/
#loginPage {
    font-family: sans-serif;
    font-size: 1.4em;
    grid-template-rows: 70vh 40vh;
    grid-template-areas: 
        "loginSession"
        "bottomSection";
}

#loginSession {
    grid-area: loginSession;
    grid-template-columns: 7% 3% 40% 40% 3% 7% ;
    grid-template-rows: 3% 15% 72% 10%;
    grid-template-areas: 
        "bl bl bl bl bl bl"
        ". . . . . ."
        ". . loginLeft loginRight . ."
        ". . . . . .";
}

#loginLeft {
    grid-area: loginLeft;
    border-right: 1px #578ad6 solid;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
    grid-template-rows: none;
}

#loginLeft h1 {
    font-weight: 500;
}

#loginLeft input {
    border: #578ad6 3px solid;
    font-size: large;
    margin-top: 50px;
    height: 70px;
    
}

#loginRight {
    grid-area: loginRight;
    align-items: start;
    align-content: start;
    justify-content: start;
    grid-template-rows: 5% 15% 10% 70%;
    grid-template-areas: 
        "createAccountText"
        "."
        "createAccount"
        ".";
}

#loginRight h1 {
    grid-area: createAccountText;
    font-weight: 500;
}

#createAccount {
    text-align: center;
    grid-area: createAccount;
    background: #578ad6;
    font-size: 1.9vh;
    border-radius: 2.5vh;
    width: 30vw;
    height: 8vh;
    margin-top: 50px;
}

#bottomSection {
    grid-area: bottomSection;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 90% 10%;
    grid-template-areas: 
        ". fc ."
        ". . .";
}

/*@ patientHome, Layout***********************************************************/
#patientHome {
    font-family: sans-serif;
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 40vh 55vh auto 100vh 50vh;
    grid-template-areas:
        "pi pi pi"
        "dd dd dd"
        "support support support"
        "leaderBoard leaderBoard leaderBoard"
        ". ds .";
}

#patientInfo {
    grid-area: pi;
    grid-template-rows:  5% 95%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas: 
        "bl bl bl"
        "pProf pProf pProf";

}

#patProfile {
    grid-area: pProf;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: 7% 76% 1% 9% 7%;
    background-color: #deebf5;
    grid-template-areas:
        ". . . . ."
        ". ppi . badg ."
        ". . . . .";
       
}

#patProfileInfo {
    grid-area: ppi;
    margin: 0px;
    padding: 0px;
    border-radius: 3vh;
    background-color: #fff;
    grid-template-columns: 5% 10% 30% 5% 30% 5% 10% 5%;
    grid-template-rows: 15% 70% 15%;
    grid-template-areas: 
    ". . . . . . . ."
    ". pIm pi1 . pi2 . editP ."
    ". . . . . . . .";
}

#pImg {
    grid-area: pIm;
    grid-template-columns: none;
    grid-template-rows: none;
}

#perInfo1 {
    grid-area: pi1;
    grid-template-columns: none;
    grid-template-rows: none;
    justify-items: left;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: #8ec8f4;
}

#perInfo2 {
    grid-area: pi2;
    grid-template-columns: none;
    grid-template-rows: none;
    justify-items: left;
}

.blueButton {
    grid-area: editP;
    margin: 0px;
    padding: 0px;
    border-radius: 3vh;
    background-color: #578ad6;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: 
        ". . ."
        ". buttonnText ."
        ". . .";
}

.blueButton p {
    grid-area: buttonnText;
}

#badges {
    grid-area: badg;
    margin: 0px;
    padding: 0px;
    border-radius: 3vh;
    background-color: #fff;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: 
        ". . ."
        ". badgC ."
        ". . .";
}

#badgesContent {
    grid-area: badgC;
    grid-template-columns: none;
    grid-template-rows: none;
}

#dailyData {
    grid-area: dd;
    grid-template-rows: 15% 7% 15% 63%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas: 
        ". . ."
        ". dailyDataText ."
        ". . ."
        "todayData todayData todayData";
}

#dailyDataText {
    grid-area: dailyDataText;
    font-weight: 500;
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
}

#todayData {
    grid-area: todayData;
    align-items: start;
    grid-template-rows: 20% 7% 8% 50% 15%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas: 
        ". . ."
        ". tableHead ."
        ". . ."
        ". onePatTodayTable ."
        ". . .";
    background-color: #deebf5;
}

#tableHead {
    grid-area: tableHead;
    grid-template-columns: 5% 3% 15% 67% 10%;
    grid-template-areas: "today . recordData . viewAll";    
}

#today {
    grid-area: today;
    font-size: 1.3em;
}

#recordData {
    grid-area: recordData;
    font-size: 1.3em;
    
}

#recordData a {
    text-decoration: underline;
    color: #578ad6;
}

#viewAll {
    grid-area: viewAll;
    text-decoration: underline;
    align-items: right;
    align-content: right;
    justify-content: right;
    justify-items: right;
    font-size: 1.3em;
}

#viewAll a {
    text-decoration: underline;
    color:green;
}

#onePatTodayTable {
    grid-area: onePatTodayTable;
    border-collapse: separate;
    border-spacing: 10px 0px;
}

#onePatTodayTable td {
    height: 50px;
}

#patientList {
    grid-area: pl;
}

#supportMessages {
    grid-area: support;
    grid-template-rows: 5vh auto 5vh auto;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". . ."
        ". supportMessagesText ."
        ". . ."
        "allMessages allMessages allMessages";
}

#supportMessagesText {
    grid-area: supportMessagesText;
    font-weight: 500;
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
}

#allMessages {
    grid-area: allMessages;
    align-items: start;
    grid-template-rows: 5vh auto auto 5vh;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas: 
        ". . ."
        ". onePatMessageSearch ."
        ". onePatMessageTable ."
        ". . .";

    background-color: #deebf5;
}

#onePatMessageSearch {
    grid-area: onePatMessageSearch;
}

#onePatMessageTable {
    grid-area: onePatMessageTable;
}

#onePatMessageTable td img {
    max-height: 80%;
}

.supmessageTime {
    font-weight: bold;
    text-align: center;
}

#leaderBoard {
    grid-area: leaderBoard;
    grid-template-rows: 7% 5% 7% 81%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". . ."
        ". leaderBoardText ."
        ". . ."
        "rank rank rank";
}

#leaderBoardText {
    grid-area: leaderBoardText;
    font-weight: 500;
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
}

#rank {
    grid-area: rank;
    grid-template-rows: 5% 15% 5% 68% 7%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". . ."
        ". boardHead ."
        ". . ."
        ". top5 ."
        ". . .";
    background-color: #deebf5;
}

#boardHead {
    grid-area: boardHead;
    grid-template-rows: none;
}

#boardHead p {
    font-weight: bold;
    font-size: 1.3em;
    margin-block-start: 0.5em;
    margin-block-end: 0em;
}

#top5 {
    grid-area: top5;
    grid-template-rows: 20% 5% 15% 5% 15% 5% 15% 5% 15%;
    grid-template-areas: 
        "first"
        "."
        "second"
        "."
        "third"
        "."
        "forth"
        "."
        "fifth";
}

#firstRank {
    grid-area: first;
}

#No1 {
    color: orange;
    font-size: 1.5em;
}

#secondRank {
    grid-area: second;
    width: 90%;
}

#thirdRank {
    grid-area: third;
    width: 90%;
}

#forthRank {
    grid-area: forth;
    width: 90%;
}

#fifthRank {
    grid-area: fifth;
    width: 90%;
}

/* div text */
#webDetailSection {
    grid-area: jw;
    grid-template-rows: 5% 10% 5% 40% 5% 30% 5%;
    grid-template-areas:
        "."
        "jwh"
        "."
        "jwt"
        "."
        "jb3"
        ".";
}

#webDetailHeader {
    grid-area: jwh;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: ". jwhm .";
}

#webDetailHeaderDisplayBox {
    grid-area: jwhm;
    grid-template-columns: 10% 80% 10%;
}

#webDetailBody {
    grid-area: jwt;
    /* Using pixel sizing so that user can zoom up to get better read*/
    line-height: 40px;
    font-size: 25px;
    align-items: initial;
    align-content: initial;
    justify-content: space-between;
    justify-items: stretch;
}

#webDetailButtonHolder {
    grid-area: jb3;
    grid-template-columns: 30% 5% 30% 5% 30%;
}

/* div join Section */
#joinSection {
    grid-area: j;
    border-top: 1px #578ad6 solid;
    grid-template-rows: 5% 10% 10% 20% 10% 35% 5%;
    grid-template-areas:
        "."
        "jh"
        "."
        "jt"
        "."
        "jb2"
        ".";
}

#joinHeader {
    grid-area: jh;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: ". jhm .";
}

#joinHeaderDisplayBox {
    grid-area: jhm;
    grid-template-columns: 10% 80% 10%;
}

#joinSectionBody {
    grid-area: jt;
    /* Using pixel sizing so that user can zoom up to get better read*/
    line-height: 45px;
    font-size: 25px;
    align-items: initial;
    align-content: initial;
    justify-content: space-between;
    justify-items: stretch;
}

#joinButtonHolder {
    grid-area: jb2;
    grid-template-columns: 45% 10% 45%;
    align-items: initial;
    align-content: initial;
    justify-content: space-between;
    justify-items: stretch;
}

/* Foot link that will not be change regardless of screen size ********************************************************/
#foot {
    grid-area: fl;
    grid-template-rows: 90% 10%;
    grid-template-areas:
        "fc"
        ".";
}

#footHeader1,
#footHeader2,
#footHeader3 {
    font-size: 2vh;
    text-align: left;
}

#cline1,
#cline2,
#cline3 {
    font-size: 1.8vh;
    grid-template-rows: 10% 20% repeat(6, 10%) 10%;
    align-items: initial;
    align-content: initial;
    justify-content: space-between;
    justify-items: stretch;
}

#cline1 h3,
#cline2 h3,
#cline3 h3 {
    font-weight: 500;
    font-size: 1.8vh;
}

#contact {
    grid-area: fc;
    grid-template-columns: 33% 33% 34%;
    grid-template-areas: "fcl1 fcl2 fcl3";
    border-top: 1px #578ad6 solid;
}


#cline1 {
    grid-area: fcl1;
}

#cline2 {
    grid-area: fcl2;
}

#cline3 {
    grid-area: fcl3;
}

/*@ diabetesInfo, Layout**********************************************/
/* b: navigation bar section
   t: information section
   j: joinLinkSection
   fl: foot link
*/
#diabetesInfo {
    font-family: sans-serif;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 7vh 150vh 73vh 30vh;
    grid-template-areas:
        "b b b"
        "t t t"
        ". j ."
        ". fl .";
}

/* div Info */
#info {
    grid-area: t;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 15vh 65vh 70vh;
    grid-template-areas:
        ". th ."
        "tInfo tInfo tInfo"
        ". embedVid .";
}

#infoHeader {
    grid-area: th;
    justify-items: left;
    grid-template-rows: 25% 75%;
}

#textPath1,
#textPath2 {
    text-decoration: underline;
    font-size: 21px;
    color: #5d8ed7;
}

#infoText {
    grid-area: tInfo;
    background-color: #deebf5;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 7% 86% 7%;
    grid-template-areas:
        ". . ."
        ". infoTextImg ."
        ". . .";
}

#infoTextImg {
    grid-area: infoTextImg;
    grid-template-columns: 65% 35%;
    grid-template-areas: "textP infoImg";
}

#infoImg {
    grid-area: infoImg;
}

#vid1,
#vid2 {
    margin: 0px;
    background-color: #deebf5;
    border-radius: 2vh;
    grid-template-rows: 80% 20%;
    grid-template-areas:
        "."
        "vidP";
}

#vid1 {
    grid-area: vid1;
}

#vid2 {
    grid-area: vid2;
}

#signInText {
    font-size: 3.3em;
    font-weight: 600;
}

#infoTextP {
    grid-area: textP;
    font-size: 25px;
    line-height: 50px;
}

#infoEmbededVid {
    grid-area: embedVid;
    grid-template-columns: 5% 35% 15% 35% 10%;
    grid-template-rows: 30% 65% 15%;
    grid-template-areas:
        ". . arrow . ."
        ". vid1 . vid2 .";
}

#arrowImg {
    grid-area: arrow;
    height: 60px;
    width: 57px;
    grid-template-rows: 50% 50%;
}

/* dataEnter, layout**************************************************/
#patientEnter {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 2vh 24vh 38vh auto 50vh;
    grid-template-areas:
        "bl bl bl"
        "prof prof prof"
        ". rdt ."
        "rbs rbs rbs"
        ". ds .";
}

#recordDataText {
    grid-area: rdt;
    grid-template-rows: 10% 20% 50% 20%;
    justify-items: left;
}
#recordBars {
    grid-area: rbs;
    display: block;
}
.RecordBar {
    height: 50vh;
    grid-template-rows: 10% 90%;
    grid-template-areas: 
        "."
        "RBB";
}
.RecordBlueBar {
    background: #DEEBF5;
    grid-area: RBB;
    grid-template-rows: 10% 80% 10%;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas: 
        ". . ."
        ". RIB ."
        ". . .";
}
.RecordInnerBar {
    grid-area: RIB;
    grid-template-rows: 5% 95%;
    grid-template-columns: 50% 50%;
    column-gap: 5%;
    grid-template-areas: 
    ". ."
    "recordArea SwitchIcon";
}

#recordArea {
    grid-area: recordArea;
    justify-items: left;
    grid-template-rows: none;
}

.SwitchIcon {
    grid-area: SwitchIcon;
    grid-template-rows: none;
}

.RecordInnerBar input {
    border: #578ad6 3px solid;
    font-size: large;
    margin-top: 13px;
    height: 60px;
}

.RecordBotton {
    align-items: flex-start;
    justify-items: left;
}
.RecordBotton input {
    background: #578ad6;
    width: 150px;
    height: 75px;
    font-size: larger;
}
.fixed,
.saveButton {
    background-color: #ccc;
    pointer-events: none;
}

/*@ patientViewData, Layout***********************************************************/
#patientData {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-rows: 2vh 24vh 5vh auto 5vh auto 50vh;
    grid-template-areas:
        "bl bl bl"
        "prof prof prof"
        ". . ."
        ". supportMessagesText ."
        ". . ."
        "bgc bgc bgc"
        ". ds .";
}

#backgroundColor {
    grid-area: bgc;
    background: #deebf5;
    grid-template-columns: 7% 86% 7%;
}

#dataTables {
    grid-template-rows: 5vh 60px 20px auto 20px 60px 20px 120vh 5vh;
}

.forms {
    grid-template-columns: 300px 300px;
    justify-content: left;
    justify-items: left;
}

.forms select {
    border: 1px #507fc5 solid;
    color: #507fc5;
    background: #fff;
}

/* part 4 --------------------------------------------------------- referenced application*/
/* switch application changed from referenced */

#toggle-button {
    display: none;
}

.button-label {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: #5b8dc6;
    box-shadow: #ccc 0px 0px 0px 2px;
    border-radius: 30px;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
}

.button-label .text {
    line-height: 30px;
    font-size: 18px;
    text-shadow: 0 0 2px #ddd;
}

.on {
    color: #fff;
    display: inline-block;
    text-indent: 10px;
}

.off {
    color: #fff;
    display: none;
    text-indent: 34px;
}

.button-label .circle {
    left: 50px;
    transition: all 0.3s;
}

#toggle-button:checked+label.button-label .circle {
    left: 0px;
}

#toggle-button:checked+label.button-label .on {
    display: none;
}

#toggle-button:checked+label.button-label .off {
    display: inline-block;
}

#toggle-button:checked+label.button-label {
    background-color: #ccc;
}

/* part 5 --------------------------------------------------------- responsive design for different size*/
@media screen and (max-width: 880px) {
    #mezzanine {
        grid-template-columns: 5% 40% 10% 40% 5%;
        grid-template-rows: 10% 10% 70% 10%;
        grid-template-areas:
        ". . . . ."
        ". mr mr mr ."
        ". ml ml ml ."
        ". . . . .";
    }
    #mezzanineTextButtonHolder {
        grid-template-columns: 25% 10% 30% 10% 25%;
    }
    #mezzanineImgHolder {
        grid-template-columns: 40% 20% 40%;
        grid-template-areas: "mr1 . mr2";
    }
    #logInClinician {
        width: 25vw;
    }
    #logInPatient {
        width: 25vw;
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 1.8em;
    }
    #logo img {
        width: 100%;
        height: 60%;
    }
    #look {
        height: 4vh;
        width: 5vw;
    }
    #bar {
        font-size: 1em;
        font-weight: bolder;
    }
    #signInText {
      font-size: 3.5em;
      font-weight: normal;
    }
    #webDetailBody {
        line-height: 30px;
        font-size: 19px;
    }
    #joinSectionBody {
        line-height: 30px;
        font-size: 20px;
    }
    .ButtonAText {
        font-size: 20px;
    }
    #infoTextP {
        font-size: 20px;
        line-height: 30px;
    }
    #textPath1,
    #textPath2 {
        font-size: 19px;
    }
    iframe {
        height: 200px;
        width: 300px;
    }
    #infoEmbededVid {
        grid-template-rows: 25% 65% 20%;
    }
    .vidP {
        font-size: 20px;
        text-indent: 20px;
    }
    .smallTitle {
        font-size: 20px;
        letter-spacing: 2px;
    }
    #fMiddle h5{
        font-size: 1.6vh;
    }
  }

@media screen and (max-width: 640px) {
    h1{
        font-size: 1.4em;
    }
    #name h1 {
        font-weight: normal;
        font-size: 5vw;
    }
    .plussign img {
        width: 20px;
        height: 20px;
    }
    #mezzanine {
        grid-template-columns: 5% 40% 10% 40% 5%;
        grid-template-rows: 15% 70% 15%;
        grid-template-areas:
        ". . . . ."
        ". ml ml ml ."
        ". . . . .";
    }
    #mezzanineTextButtonHolder {
        grid-template-columns: 25% 10% 30% 10% 25%;
    }
    #mezzanineImgHolder {
        display: none;
    }
    #logInClinician {
        font-size: 1.5vh;
        border-radius: 3vh;
        height: 6vh;
    }
    #logInPatient {
        font-size: 1.5vh;
        border-radius: 3vh;
        height: 6vh;
    }
    #mlText {
        font: 1em sans-serif;
    }
    #aboutWeb {
        grid-template-rows: 24vh 42vh 110vh 70vh 66vh;
        grid-template-columns: 5% 90% 5%;
    }
    #diabetesInfo {
        grid-template-rows: 24vh 175vh 65vh 66vh;
        grid-template-columns: 5% 90% 5%;
    }
    #logo img {
        height: auto;
        width: auto;
    }
    img {
        max-height: 100%;
        max-width: 100%;
    }
    h2 {
        font-size: 1em;
    }
    header {
        grid-template-columns: 4% 50% 3% 40% 3%;
        grid-template-areas: ". hl . hr .";
    }
    #headRight {
        grid-template-columns: 15% 80% 5%;
        grid-template-rows: 40% 20% 40%;
    }
    #look {
        height: 2.7vh;
        width: 12.5vw;
        background-size: 2vh;
    }
    #smallLook {
        background-size: 1.5vh;
    }
    #bar {
        font-size: 2.7vw;
        font-weight: lighter;
        grid-template-rows: 1% 4% 19% 19% 19% 19% 19%;
        grid-template-columns: 100%;
        grid-template-areas:
        ". "
        "bg"
        "bl"
        "bl"
        "bl"
        "bl"
        "br";
    }
    #searchBar {
        grid-template-columns: 65% 35%;
    }
    #searchBar2 {
        width: 100%;
    }
    #barLeft {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 25%);
    }
    #signInText {
        font-size: 1.5em;
        font-weight: 900;
    }
    .vidP {
        font-size: 15px;
        text-indent: 6vw;
    }
    #webDetailBody {
        line-height: 19px;
        font-size: 15px;
    }
    #joinSectionBody {
        line-height: 20px;
        font-size: 15px;
    }
    .ButtonAText {
        justify-self: left;
        font-size: 15px;
    }
    #infoText {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 95% 5%;
        grid-template-areas:
        ". infoTextImg ."
        ". . .";
    }
    #infoTextImg {
        grid-template-rows: 60% 5% 35%;
        grid-template-columns: 100%;
        grid-template-areas:
        "textP"
        "."
        "infoImg";
    }
    #infoTextP {
        font-size: 15px;
        line-height: 20px;
    }
    #textPath1,
    #textPath2 {
        font-size: 17px;
    }
    #joinSection {
        grid-template-rows: 3% 10% 3% 30% 6% 45% 3%;
    }
    #infoEmbededVid {
        grid-template-columns: 6% 88% 6%;
        grid-template-rows: 20% 35% 5% 35% 5%;
        grid-template-areas:
        " . arrow ."
        ". vid2 ."
        ". . ."
        ". vid1 .";
    }
    #arrowImg {
        height: 40px;
        width: 19px;
    }
    iframe {
        height: 35vw;
        width: 32vh;
    }
    .smallTitle {
        text-align: center;
        font-size: 1em;
        letter-spacing: 1.5px;
    }
    .titleBlack {
        font-size: 1.2em;
    }
    #joinHeader {
        grid-template-columns: 10% 80% 10%;
    }
    #webDetailHeader {
        grid-template-columns: 10% 80% 10%;
    }
    #webDetailSection {
        grid-template-rows: 2% 10% 2% 36% 5% 40% 5%;
    }
    #webDetailButtonHolder {
        grid-template-rows: 30% 5% 30% 5% 30%;
        grid-template-columns: 100%;
    }
    #joinButtonHolder {
        grid-template-rows: 47% 6% 47%;
        grid-template-columns: 100%;
    }
    .Jbot {
        border-radius: 3vh;
        border: 2px #578ad6 solid;
        height: 14vh;
        grid-template-columns: 3% 18% 9% 50% 4% 10% 4%;
        grid-template-rows: 100%;
        grid-template-areas: ". Jim . Jte . Jar .";
    }
    .Jimg {
        height: 8vh;
    }
    #cline1,
    #cline2,
    #cline3 {
        font-size: 1vh;
        text-align: center;
    }
    #footHeader1,
    #footHeader2,
    #footHeader3 {
        font-size: 1.2vh;
        text-align: center;
    }
    #contact {
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 34%;
        grid-template-areas:
        "fcl1"
        "fcl2"
        "fcl3";
    }
    body {
        grid-template-rows: 11vh auto 10vh;
    }
    footer {
        grid-template-columns: 10% 80% 10%;
    }
    #fMiddle {
        grid-template-columns: repeat(4, 6vh);
        grid-template-rows: 50% 50%;
        grid-template-areas:
          "img1 img2 img3 img4"
          "p p p p";
      }
    #fMiddle > h5 {
        grid-area: p;
        white-space: nowrap;
        font-size: 1vh;
    }
    #infoHeader {
        grid-template-rows: 30% 70%;
    }
    #info {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 10vh 85vh 80vh;
    }

    #directSection {
        grid-template-rows: 2% 8% 5% 77% 8%;
    }
    #directHeader{
        grid-template-columns: 75% 25%;
    }

    /*patient home*/
    #patientHome {
        font-size: 0.8em;
        grid-template-rows: auto 45vh auto 100vh 58vh;
       
    }

    #patientInfo {
        grid-template-rows: 2vh auto 2vh;
        grid-template-columns: 100%;
        grid-template-areas: 
            "bl"
            "pProf"
            ".";

    }

    #patProfile {
        grid-template-rows: 2vh 55vh 2vh 15vh 2vh;
        grid-template-columns: 2vh 10vh 15vh 10vh 2vh;
        background-color: #fff;
        background-image: linear-gradient(180deg, #deebf5 20%, white 0%);
        grid-template-areas:
            ". . . . ."
            ". ppi ppi ppi ."
            ". . . . ."
            ". . badg . ."
            ". . . . .";

    }

    #patProfileInfo {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 1% 24% auto auto 12%;
        grid-template-areas: 
        ". . ."
        ". pIm ."
        ". pi1. "
        ". pi2 ."
        ". editP .";
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    #pImg {
        width: 35%;
        height: 35%;
    }

    #perInfo1 {
        width: 20em;
        border-right-color: #ffffff;
        justify-content: left;
    }

    #perInfo2 {
        width: 20em;
    }

    #badges {
        grid-template-columns: auto 10vh auto;
        grid-template-rows: auto 10vh auto;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }

    #dailyData {
        grid-template-rows: 7% 5% 88%;
        grid-template-areas: 
            ". dailyDataText ."
            ". . ."
            "todayData todayData todayData";
    }

    #todayData {
        grid-template-rows: 10% 5% 5% 70% 10%;

    }

    #tableHead {
        grid-template-columns: 15% 8% 35% 22% 20%;
    }

    #supportMessages {
        grid-template-rows: 5vh auto 5vh auto;
    }

    #allMessages {
        grid-template-rows: 5vh auto auto 5vh;      
    }

    #displaySelection{
        width: 100%;
    }

    #displaySelection select {
        width: 100%;
        padding: 10px 0px;
    }

    table td,
    table th {
        width: 60px;
        height: 40px;
    }


    #onePatMessageTable td img {
        max-height: 60%;
    }

    #leaderBoard {
        grid-template-rows: 5vh auto 5vh auto;
    }

    /* dataEnter, layout**************************************************/
    #patientEnter {
        font-size: 1em;
        grid-template-rows: 2vh 24vh 30vh auto 58vh;
    }

    .profileInfo {
        grid-template-columns: 1% 40% 3% 55% 1%;
        grid-template-rows: 10% 40% 40% 10%;
        grid-template-areas:
            ". . . . ."
            ". cImg . cName ."
            ". cImg . rightContent ."
            ". . . . .";
    }

    .RecordBar {
        height: 70vh;
        grid-template-rows: 2% 96% 2%;
        grid-template-areas: 
            "."
            "RBB"
            ".";
    }
    .RecordBlueBar {
        grid-template-rows: 2% 96% 2%;

    }
    .RecordInnerBar {
        grid-template-rows: 5% 70% 20% 5%;
        grid-template-columns: 100%;
        column-gap: unset;
        grid-template-areas: 
            ". ."
            "recordArea recordArea"
            "SwitchIcon SwitchIcon"
            ". .";
    }

    .RecordInnerBar input {
        height: 30px;
    }
}

