/* note for phone with become 375.2 note not 375
by using data base the image of look disappear
if you interested in how to place footer at bottom refer to line 625 (give the grid a height) */
/* part 1 --------------------------------------------------------- overwrite and customize tags */
:root {
    --c-color-b0: #578ad6;
    --c-color-b1: #5f8acb;
    --c-color-b2: #9ab7e2;
    --c-color-b3: #deebf5;
    --c-color-g0: #ccc;
    --c-color-black: black;
    --c-color-white: white;
    --c-color-red: red;
    --c-color-green: green;
    --c-color-orange: orange;
    --smaller-vertical-gap: 10;
    --small-vertical-gap: 10;
    --big-vertical-gap: 20;
    --bigger-vertical-gap: 50;
}

div,
section {
    display: grid;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: sans-serif;
    float: left;
    width: 100%;
    height: auto;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

input {
    width: 100%;
    height: 100%;
    border: 0px;
    border-radius: 2vh;
    opacity: 1;
    font-size: 2vh;
}

input[type="submit"] {
    background-color: var(--c-color-b0);
}

input::placeholder {
    font-size: 2vh;
}

input:hover[type="submit"] {
    background-color: var(--c-color-b2);
    cursor: pointer;
}

textarea {
    height: 180px;
    width: 100%;
    border: 3px var(--c-color-b0) solid;
    border-radius: 2vh;
    font-size: 1em;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: var(--c-color-black);
}

button {
    border: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--c-color-b0);
}

button :hover {
    background-color: var(--c-color-b2);
}

p {
    margin: 0px;
}

/* font */
h1 {
    color: var(--c-color-b0);
    font-size: 2em;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-size: 2em;
}

h5 {
    margin: 0px;
}

/* customize image */
img {
    display: block;
    max-height: 90%;
    max-width: 90%;
}

/* customize table*/
table {
    width: 100%;
    border-collapse: collapse;
}

table tr:first-child th:first-child {
    border-top-left-radius: 2vh;
}

table tr:first-child th:last-child {
    border-top-right-radius: 2vh;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 2vh;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 2vh;
}

table th {
    font-size: 1.2em;
    font-weight: normal;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: var(--c-color-b1);
    color: var(--c-color-white);
}

table td {
    font-size: 1.1em;
    padding: 3px 7px 2px 7px;
    background-color: var(--c-color-white);
    border-top-style: solid;
    border-top-color: var(--c-color-b1);
    border-top-width: 2px;
}

form {
    width: 80%;
    font-size: 1.3em;
    justify-content: left;
    justify-items: left;
}

select {
    width: 70%;
    height: auto;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 0.7em;
    background: var(--c-color-b1);
    color: var(--c-color-white);
    overflow-y: scroll;
}

/*part 2 ---------------------------------------------------------- customize class */
/* customize font */
.fontWhiteBold,
.saveButton {
    color: var(--c-color-white);
    font-weight: 900;
}

.fontWhiteNormal {
    color: var(--c-color-white);
    font-weight: 500;
}

.fontBlue {
    color: var(--c-color-b0);
    font-weight: bolder;
}

.fontBlueNormal {
    color: var(--c-color-b0);
}

.fontRed {
    color: var(--c-color-red);
}

.fontRedBold {
    color: var(--c-color-red);
    font-weight: bolder;
}

.fontGreen {
    color: var(--c-color-green);
}

.titleBlack {
    color: var(--c-color-black);
    font-size: 35px;
    letter-spacing: 3px;
    font-weight: bold;
}

.smallTitle {
    color: var(--c-color-b0);
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 500;
}

/* customize image */
.plussign img {
    width: 35px;
    height: 35px;
}

/* application for customize buttons */
.Jbot {
    border-radius: 3vh;
    border: 4px var(--c-color-b0) solid;
    grid-template-columns: 5% 60% 20% 10% 5%;
    grid-template-rows: 2vh 10vh 2vh 5vh 1vh;
    grid-template-areas:
        ". . . . ."
        ". Jim Jim Jim ."
        ". . . . ."
        ". Jte . Jar ."
        ". . . . .";
}

.Jbot:hover {
    background-color: var(--c-color-b3);
}

.Jimg {
    grid-area: Jim;
    height: 100%;
}

.Jimg img {
    max-width: 50%;
    max-height: 40%;
}

.ButtonAText {
    grid-area: Jte;
    color: var(--c-color-b0);
    font-weight: 900;
    font-size: 25px;
    justify-items: left;
}

.Jarr {
    grid-area: Jar;
}

.reDirectButtonA {
    width: 100%;
}

/* application for customize videos */
.vidP {
    display: inline;
    grid-area: vidP;
    text-align: left;
    text-indent: 40px;
    font-size: 30px;
}


/*part 3 ---------------------------------------------------------- customize id*/
/*@ main Web, Layout**********************************************/
/* h: header banner
   f: bottom banner
*/
body {
    display: grid;
    margin: 0px;
    grid-template-areas:
        "h"
        "."
        "f";
}

main {
    min-height: 85vh;
}

/* header band styling */
/* Contain the LOGO + Name of website (diabetes@Home) */
header {
    display: grid;
    grid-area: h;
    grid-template-columns: 7% 41% 15% 30% 7%;
    grid-template-areas: ". hl . logout .";
    border-bottom: 15px solid var(--c-color-b0);
    ;
    margin-bottom: 10px;
}

#headLeft {
    grid-area: hl;
    grid-template-columns: 15% 3% 82%;
    grid-template-areas: "hl . hn";
}

#logo {
    grid-area: hl;
}

#logo img {
    width: 70%;
    height: 70%;
}

#name {
    grid-area: hn;
    justify-items: left;
    font-style: italic;
    color: var(--c-color-b0);
}

#name h1 {
    font-weight: normal;
    font-size: 2vw;
}

#logout {
    grid-area: logout;
    grid-template-columns: 15% 50% 35%
}

#logout img {
    height: 6.5vh;
    max-width: 100%;
}

#errorPage p {
    font-size: 3vh;
}

#errorPage a {
    text-decoration: underline;
    color: var(--c-color-b0);
}

#errorPage h1 {
    font-size: 5vh;
    color: var(--c-color-red);
}

.form {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 50px;
    width: 100%;

}

#logout button {
    background-color: var(--c-color-white);
    height: 5vh;
    width: 90%;
    font-size: 1.5em;
    border: 3px solid var(--c-color-b1);
    border-radius: 1.2vh;
}

#searchBar {
    width: 20%;
    height: 50px;
    float: right;
    grid-area: hsb;
    grid-template-columns: 80% 20%;
    border-radius: 2vh;
    background-color: var(--c-color-white);
    margin-right: 10px;
}

#look,
#smallLook {
    background-image: url(../whitesearchtool.png);
    background-repeat: no-repeat;
    background-size: 3vh;
    background-position: center;
    display: inline-block;
}

#smallLook {
    background-size: 2vh;
}

/* footer band styling */
footer {
    display: grid;
    grid-area: f;
    background-color: var(--c-color-b0);
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: calc(var(--small-vertical-gap) * 1px) auto calc(var(--small-vertical-gap) * 1px);
    grid-template-areas:
        ". . ."
        ". fm ."
        ". . .";
}

#fMiddle {
    grid-area: fm;
    grid-template-columns: repeat(4, 6vh) 50%;
    color: var(--c-color-white);
}

#fMiddle h5 {
    font-size: 2vh;
    font-weight: normal;
}

footer img {
    border: 1vh;
    max-height: 2.5vh;
    max-width: 2.5vh;
    opacity: 0.8;
}

footer img:hover {
    border: 0.5vh;
    max-height: 3.1vh;
    max-width: 3.1vh;
    opacity: 1;
}

/*@ aboutWeb, Layout**********************************************/
/* b: navigation bar section
   jw: aboutWebDetailSection
   j: joinLinkSection
   fl: foot link
*/
#aboutWeb {
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        "b b b"
        "m m m"
        ". jw ."
        ". j ."
        ". fl .";
}

/* Navigation Bar */
#bar {
    grid-area: b;
    font-size: 1vw;
    font-weight: bold;
    grid-template-rows: auto;
    grid-template-columns: 5% 60% 30% 5%;
    grid-template-areas:
        ". bl br .";
    background-color: var(--c-color-b0);
    height: 55px;
}

#bar p {
    margin: calc(var(--small-vertical-gap) * 1px);
}

#barLeft {
    grid-area: bl;
    grid-template-columns: repeat(4, 25%);
}

#barLeft div:hover,
#barRight:hover {
    background-color: var(--c-color-b0);
    border-radius: 1.5vh;
}

#barRight {
    grid-area: br;
}

/* Mezzanine */
#mezzanine {
    grid-area: m;
    background-image: url(../chemicalbackdrop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-template-columns: 7% 55% 1% 30% 7%;
    padding-bottom: calc(var(--bigger-vertical-gap) * 1px);
    grid-template-areas:
        ". ml . mr .";
}

#mezzanineTextButtonHolder {
    grid-area: ml;
    grid-template-columns: 10% 35% 10% 35% 10%;
    grid-template-areas:
        ". mt mt mt ."
        ". mlp mlText mlc .";
}

#mezzanineImgHolder {
    grid-area: mr;
    grid-template-areas:
        "mr1"
        "."
        "mr2";
}

#logInPatient {
    text-align: center;
    grid-area: mlp;
    background: var(--c-color-b0);
    font-size: 1.9vh;
    border-radius: 1.5vh;
    width: 15vw;
    height: 8vh;
}

#logInClinician {
    text-align: center;
    grid-area: mlc;
    background: var(--c-color-b0);
    font-size: 1.9vh;
    border-radius: 1.5vh;
    width: 15vw;
    height: 8vh;
}

#mtext {
    grid-area: mt;
}

#mlText {
    grid-area: mlText;
    font: 2em sans-serif;
}

#mr1 {
    grid-area: mr1;
    height: 135%;
}

#mr2 {
    grid-area: mr2;
    height: 135%;
}

#directSection {
    grid-area: ds;
    align-items: left;
    align-content: left;
    justify-content: left;
    justify-items: left;
    grid-template-rows: auto auto calc(var(--bigger-vertical-gap) * 1px);
    grid-template-areas:
        "dh"
        "jb3"
        ".";
}

#directSection h1 {
    grid-area: dh;
}

/* clinician sign up page */
#signUp {
    font-size: 1.4em;
    margin-bottom: calc(var(--bigger-vertical-gap) * 1px);
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". signUpText ."
        ". signUpRight .";
}

#signUpText {
    grid-area: signUpText;
}

#signUpLeft {
    grid-area: signUpLeft;
    border-right: 1px var(--c-color-b0) solid;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
}

#signUpRight {
    grid-area: signUpRight;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
}

#signUp input,
#psignUp input {
    border: var(--c-color-b0) 3px solid;
    font-size: 1em;
    margin-top: calc(var(--small-vertical-gap) * 1px);
    margin-bottom: calc(var(--big-vertical-gap) * 1px);
    height: 60px;
    width: 90%;
}

#psignUp input[type="checkbox"] {
    width: 20%;
}

#signUp input[type="submit"],
#psignUp input[type="submit"] {
    margin-top: calc(var(--big-vertical-gap) * 1px);
}

#signUpLeft textarea {
    margin-top: calc(var(--small-vertical-gap) * 1px);
}

#signUp p,
#psignUp p {
    font-size: 0.8em;
}

#signUpSession {
    grid-template-rows: auto calc(var(--bigger-vertical-gap) * 1px) auto calc(var(--bigger-vertical-gap) * 1px);
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        "bl bl bl"
        ". . ."
        ". signUpContent ."
        ". . .";
}

#psignUp {
    font-size: 1.4em;
    margin-bottom: calc(var(--bigger-vertical-gap) * 1px);
    grid-template-columns: 10% 80% 10%;
    grid-template-areas:
        ". signUpText ."
        ". signUpLeft .";
}

#psignUp form div {
    justify-items: left;
}

#psignUpLeft {
    grid-area: signUpLeft;
    margin-top: calc(var(--bigger-vertical-gap) * 1px);
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: start;
}

#psignUpLeft input {
    border: #578ad6 3px solid;
    font-size: 0.8em;
    margin-top: calc(var(--small-vertical-gap) * 1px);
    margin-bottom: calc(var(--big-vertical-gap) * 1px);
    height: 55px;
}

#psignUpLeft .form {
    grid-gap: 200px;
}

#registDataEntry {
    display: block;
    justify-items: left;
}

/*clinician profile page */
#cliProfileSection {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        "cliprofileContent cliprofileContent cliprofileContent";
}

#cliprofileContent {
    grid-area: cliprofileContent;
    grid-template-columns: 7% 23% 5% 58% 7%;
    grid-template-rows: 5vh auto 5vh;
    grid-template-areas:
        ". . . . ."
        ". cliProfileInfo. cliprofileRight ."
        ". . . . .";
    background-image: linear-gradient(180deg, var(--c-color-b3) 46%, var(--c-color-white) 0%);
}

#cliProfileInfo {
    grid-area: cliProfileInfo;
    border-radius: 3vh;
    background-color: var(--c-color-white);
    padding-bottom: calc(var(--bigger-vertical-gap) * 1px);
    grid-template-columns: 3% 94% 3%;
    grid-template-areas:
        ". cliIm ."
        ". cliTx ."
        ". perInfo ."
        ". editP .";
    box-shadow: 0px 0px 20px var(--c-color-g0);
}

#cliProfileInfo .fontWhiteBold {
    grid-area: editP;
    width: 100%;
    height: 100%;
}

#perInfo {
    grid-area: perInfo;
    justify-items: left;
}

#perInfo p {
    margin-bottom: calc(var(--big-vertical-gap) * 1px);
}

#cliImg {
    grid-area: cliIm;
}

#cliImg img {
    max-width: 60%;
    max-height: 60%;
}

#cliText {
    grid-area: cliTx;
}

#cliImg img {
    height: 70%;
}

#cliprofileRight {
    grid-area: cliprofileRight;
    row-gap: calc(var(--bigger-vertical-gap) * 1px);
    grid-template-areas:
        "buttonWithText"
        "jb3";
}

#buttonWithText {
    grid-area: buttonWithText;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: left;
    row-gap: calc(var(--bigger-vertical-gap) * 1px);
    grid-template-areas:
        "buttonTopText"
        "editP";
}

#buttonWithText h1 {
    margin: 0px;
}

#buttonWithText .blueButton {
    font-size: 2.2vh;
    border-radius: 2.5vh;
    width: 24vw;
    height: 6vh;
}

#buttonWithText .fontWhiteBold {
    grid-area: editP;
}

#buttonTopText {
    grid-area: buttonTopText;
    font-weight: 500;
}

/* edit pofile page */
#editProfile {
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". directP ."
        ". editProfileContent .";
}

#editProfile #directP {
    font-size: 1.5em;
}

#editProfileContent {
    grid-area: editProfileContent;
    grid-template-columns: 3% 94% 3%;
    grid-template-areas:
        ". editProfileContentRight .";
    align-items: start;
    align-content: start;
    justify-items: left;
}

#editProfileContentRight {
    grid-area: editProfileContentRight;
}

#editForm1 {
    font-size: larger;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: left;
}

#editForm1 h1 {
    margin-bottom: calc(var(--big-vertical-gap) * 3px);
}

#editForm1 input {
    border: var(--c-color-b0) 3px solid;
    font-size: 2vh;
    margin-top: calc(var(--small-vertical-gap) * 1px);
    margin-bottom: calc(var(--big-vertical-gap) * 1px);
    height: 60px;
    width: 90%;
}

#editForm1 textarea,
#signUp textarea {
    width: 90%;
}

#editForm1 form {
    font-size: 2.5vh;
}

#editForm1 form p {
    font-size: 1.7vh;
}

.buttonInput {
    width: 45%;
    font-weight: bolder;
}




/*@ clinicanHome, Layout**********************************************/
#clinicianHome {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        "ci ci ci"
        "allP allP allP"
        ". ds .";
}

#clinicianInfo {
    grid-area: ci;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". directP .";
}

.blueLine {
    height: calc(var(--big-vertical-gap) * 1px);
    grid-area: bl;
    background-color: var(--c-color-b0);
}

#directP {
    grid-area: directP;
    justify-items: left;
}

#directP h2 {
    font-weight: normal;
    font-size: 1.2em;
}

.profileInfo {
    display: grid;
    height: 100%;
    width: 100%;
    grid-area: proI;
    border-radius: 3vh;
    background-color: var(--c-color-white);
    grid-template-columns: 7% 5% 1% 15% 50% 15% 7%;
    grid-template-areas:
        ". cImg . cName . rightContent .";
    align-items: center;
    justify-items: center;
}

.profileInfo img {
    grid-area: cImg;
}

.proName {
    grid-area: cName;
    justify-items: left;
}

.rightContent {
    grid-area: rightContent;
    justify-items: right;
}

.rightContent,
.proName {
    color: var(--c-color-b0);
    font-weight: bolder;
}

#firstBigText {
    grid-area: dt;
    justify-content: left;
    justify-items: left;
}

#allPatients {
    background-color: var(--c-color-b3);
    align-items: start;
    grid-area: allP;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". pl ."
        ". tableScroll .";
}

/*login page*/
#loginSession {
    font-size: 1.4em;
    height: calc(var(--middle-page-height) * 1vh);
    grid-template-columns: 7% 3% 40% 40% 3% 7%;
    grid-template-rows: 5vh auto;
    grid-template-areas:
        ". . . . . ."
        ". . loginLeft loginRight . .";
}

#loginLeft {
    grid-area: loginLeft;
    border-right: 1px var(--c-color-b0) solid;
    align-items: start;
    align-content: start;
    justify-content: start;
    justify-items: center;
}

#loginLeft h1 {
    font-weight: 500;
}

#loginLeft input {
    border: var(--c-color-b0) 3px solid;
    margin-top: calc(var(--bigger-vertical-gap) * 1px);
    height: 70px;
}

#loginLeft input[type="text"],
#loginLeft input[type="password"] {
    font-size: larger;
}

#loginLeft p {
    font-size: 1em;
    color: var(--c-color-g0);
}

#loginLeft a {
    text-decoration: underline;
    color: var(--c-color-g0);
}

#loginRight {
    grid-area: loginRight;
    align-items: start;
    align-content: start;
    justify-content: start;
    grid-template-areas:
        "createAccountText"
        "createAccount";
}

#loginRight h1 {
    grid-area: createAccountText;
    font-weight: 500;
}

#createAccount {
    text-align: center;
    grid-area: createAccount;
    background: var(--c-color-b0);
    font-size: 1.9vh;
    border-radius: 2.5vh;
    width: 30vw;
    height: 8vh;
}

/*Clinician patient comments, Layout***********************************************************/
#cliPatientComments {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". directP ."
        "allMessages allMessages allMessages"
        ". ds .";
}

/*@ clinicianNotes, Layout************************************************************/
#cNotes {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". directP ."
        "allMessages allMessages allMessages"
        ". ds .";
}

/*@ cPatientProfile, Layout***********************************************************/
#cPatientProfile {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". directP ."
        "pProf pProf pProf"
        "dd dd dd"
        ". ds .";
}

/*@ patientHome, Layout***********************************************************/
#patientHome {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        "pProf pProf pProf"
        "dd dd dd"
        "leaderBoard leaderBoard leaderBoard"
        ". ds .";
}

#patProfile,
#cPatProfile {
    grid-area: pProf;
    grid-template-rows: calc(var(--big-vertical-gap) * 1px) auto calc(var(--big-vertical-gap) * 1px);
    grid-template-columns: 7% 55% 2% 7% 2% 27%;
    background-color: var(--c-color-b3);
    grid-template-areas:
        ". . . . . ."
        ". ppi . badg . recentMessage"
        ". . . . . .";
}

#cPatProfile {
    grid-template-columns: 7% 55% 3% 27% 7%;
    grid-template-areas:
        ". . . . ."
        ". ppi . recentMessage ."
        ". . . . .";
}

#recentMessage {
    height: auto;
    grid-area: recentMessage;
    grid-template-areas:
        "recentMessageHead"
        "recentMessageContent";
}

#recentMessageHead {
    grid-area: recentMessageHead;
    grid-template-columns: 20% 80%;
    grid-template-areas: "recentMessageHeadImg recentMessageHeadTitle";
}

#recentMessageHeadImg {
    grid-area: recentMessageHeadImg;
    justify-items: left;
}

#recentMessageHeadImg img {
    width: 60%;
}

#recentMessageHeadTitle {
    grid-area: recentMessageHeadTitle;
    justify-items: left;
}

#recentMessageContent {
    grid-area: recentMessageContent;
    align-items: start;
    justify-items: left;
    font-size: 2vh;
}
#recentMessageContent p {
    font-size: 2.5vh;
}

#addEmoji {
    grid-template-columns: 80% 20%;
    justify-items: left;
    margin-bottom: calc(var(--small-vertical-gap) * 1px);
}

#addEmoji select {
    width: 90px;
}


#updateMessage {
    width: 99%;
    height: auto;
    border: var(--c-color-b1) 2px solid;
    border-radius: 3vh;
    border-right: 0px;
    background-color: var(--c-color-white);
    grid-template-columns: 80% 18%;
    grid-template-areas:
        "newSupportMessage editP";
}

#updateMessage textarea {
    height: 60px;
    width: 100%;
    border: 0px;
}

#patProfileInfo,
#cPatProfileInfo {
    grid-area: ppi;
    border-radius: 3vh;
    background-color: var(--c-color-white);
    grid-template-columns: 15% 1% 30% 3% 37% 3% 10% 1%;
    grid-template-areas:
        "pIm . pi1 . pi2 . editP .";
}

#cPatProfileInfo {
    grid-template-columns: 15% 2% 30% 2% 30% 2% 19%;
    grid-template-areas:
        "pIm . pi1 . pi2 . badg .";
}

#pImg {
    grid-area: pIm;
    grid-template-columns: none;
}

#perInfo1 {
    grid-area: pi1;
    grid-template-columns: none;
    justify-items: left;
    border-right-style: solid;
    border-right-width: thin;
    border-right-color: var(--c-color-b2);
}

#perInfo2 {
    grid-area: pi2;
    grid-template-columns: none;
    justify-items: left;
}

#perInfo1 p,
#perInfo2 p {
    margin-top: calc(var(--big-vertical-gap) * 1px);
    margin-bottom: calc(var(--big-vertical-gap) * 1px);
}

#saveRequirements {
    grid-area: saveRequirements;
    color: #fff;
    font-weight: bold;
    font-size: large;
}


.blueButton {
    height: 100%;
    grid-area: editP;
    border-radius: 3vh;
    background-color: var(--c-color-b0);
    grid-template-columns: 5% 90% 5%;
    grid-template-areas:
        ". buttonnText .";
}

.blueButton p {
    grid-area: buttonnText;
}

#badges {
    grid-area: badg;
    border-radius: 3vh;
    grid-template-columns: 5% 90% 5%;
    grid-template-areas:
        ". badgC .";
}

#badgesContent {
    grid-area: badgC;
    background-color: var(--c-color-b0);
    border-radius: 3vh;
}

#cPatProfileInfo #badgesContent {
    padding-top: calc(var(--bigger-vertical-gap) * 1px);
    padding-bottom: calc(var(--bigger-vertical-gap) * 1px);
}

#badgesContent img {
    margin-top: calc(var(--big-vertical-gap) * 1px);
}

#dailyData {
    grid-area: dd;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". dailyDataText ."
        "todayData todayData todayData";
}



#dailyDataText {
    grid-area: dailyDataText;
    font-weight: 500;
    justify-content: left;
    justify-items: left;
}

#todayData {
    grid-area: todayData;
    align-items: start;
    background-color: var(--c-color-b3);
    grid-template-rows: calc(var(--bigger-vertical-gap) * 1px) auto calc(var(--big-vertical-gap) * 1px) auto calc(var(--bigger-vertical-gap) * 1px) auto calc(var(--bigger-vertical-gap) * 1px);
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". . ."
        ". tableHead ."
        ". . ."
        ". onePatTodayTable ."
        ". . ."
        ". todayNotes ."
        ". . .";
}

#submit {
    grid-area: submit;
}

#cPatientProfile #todayData {
    grid-template-rows: calc(var(--bigger-vertical-gap) * 1px) auto calc(var(--big-vertical-gap) * 1px) auto calc(var(--bigger-vertical-gap) * 1px) auto calc(var(--bigger-vertical-gap) * 1px);
    grid-template-areas:
        ". . ."
        ". tableHead ."
        ". . ."
        ". onePatTodayTable ."
        ". . submit"
        ". todayNotes ."
        ". . .";
}

#todayNotes {
    height: auto;
    grid-area: todayNotes;
    grid-template-columns: 50% 50%;
    grid-template-areas: "newNotes newSupportMessages";
    font-size: 1.3em;
    justify-items: left;
}

#newNotes {
    grid-area: newNotes;
}

#newSupportMessages {
    grid-area: newSupportMessages;
}

#todayNotes textarea {
    width: 99%;
    margin-top: calc(var(--small-vertical-gap) * 1px);
}

#tableHead {
    grid-area: tableHead;
    grid-template-columns: 8% 3% 15% 64% 10%;
    grid-template-areas: "today . recordData . viewAll";
}

#cPatientProfile #tableHead {
    grid-template-columns: none;
    grid-template-areas: none;
}

#today {
    grid-area: today;
    font-size: 1.3em;
}

#recordData {
    grid-area: recordData;
    font-size: 1.3em;
}

#recordData a {
    text-decoration: underline;
    color: var(--c-color-b0);
}

#viewAll {
    grid-area: viewAll;
    text-decoration: underline;
    justify-content: right;
    justify-items: right;
    font-size: 1.3em;
}

#viewAll a {
    text-decoration: underline;
    color: var(--c-color-green);
}

#onePatTodayTable {
    grid-area: onePatTodayTable;
    border-collapse: separate;
    border-spacing: 10px 0px;
}

#onePatTodayTable td {
    width: 300px;
    height: 50px;
}

.safetyRange {
    grid-template-columns: 1% 39% 10% 39% 1%;
    grid-template-areas: ". lower middle- upper .";
}

.lower {
    grid-area: lower;
}

.upper {
    grid-area: upper;
}

.middle- {
    grid-area: middle-;
}

.safetyRange input {
    width: 88%;
    height: 80%;
    border: 2px solid var(--c-color-b0);
    color: var(--c-color-b0);
}

#patientList {
    grid-area: pl;
    margin-top: calc(var(--bigger-vertical-gap) * 1px);
}

#allMessages {
    grid-area: allMessages;
    background-color: var(--c-color-b3);
    align-items: start;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". oneMessageSearch ."
        ". oneMessageTable .";
}

#oneMessageSearch {
    grid-area: oneMessageSearch;
    margin-top: calc(var(--bigger-vertical-gap) * 1px);
}

#oneMessageTable {
    grid-area: oneMessageTable;
    margin-bottom: calc(var(--bigger-vertical-gap) * 1px);
}

#twoMessageTable {
    grid-area: oneMessageTable;
    grid-template-columns: 20% 80%;
    margin-bottom: calc(var(--bigger-vertical-gap) * 1px);
    align-items: start;
}

#tableScroll tbody,
#oneMessageTable tbody {
    width: auto;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    border-bottom-right-radius: 2vh;
    border-bottom-left-radius: 2vh;
    background-color: var(--c-color-white);
}

#allPatients #tableScroll {
    grid-area: tableScroll;
    margin-bottom: calc(var(--bigger-vertical-gap) * 1px);
}

#allPatients tr,
#dataTables tr {
    display: grid;
    grid-template-columns: repeat(5, 20%);
}

#oneMessageTable tr {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#sectionA {
    background-color: var(--c-color-b2);
}

#sectionA button {
    border-radius: 2vh;
    background-color: var(--c-color-b2);
}

#sectionA td {
    background-color: var(--c-color-b2);
}

#sectionB {
    background-color: var(--c-color-white);
}

#sectionA tbody,
#sectionB tbody {
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
}

#sectionA tr,
#sectionB tr {
    width: 88%;
}

#sectionA td,
#sectionB td {
    border: 3px solid var(--c-color-b2);
    border-radius: 2vh;
    margin-bottom: calc(var(--small-vertical-gap) * 1px);
}

.pInfo {
    grid-template-columns: 40% 60%;
    background-color: var(--c-color-b0);
    border-radius: 2vh;
}

.pInfo img {
    max-width: 80%;
    max-height: 80%;
}

.pInfo p {
    font-size: 1.4em;
}

#cNotes #allMessages #oneMessageSearch p {
    margin-left: 20px;
}

.supmessageTime {
    font-weight: bold;
    text-align: center;
}

#leaderBoard {
    grid-area: leaderBoard;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". leaderBoardText ."
        "rank rank rank";
}

#leaderBoardText {
    grid-area: leaderBoardText;
    font-weight: 500;
    justify-items: left;
}

#rank {
    grid-area: rank;
    grid-template-rows: calc(var(--bigger-vertical-gap) * 1px) auto calc(var(--big-vertical-gap) * 1px) auto calc(var(--bigger-vertical-gap) * 1px);
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". . ."
        ". boardHead ."
        ". . ."
        ". top5 ."
        ". . .";
    background-color: var(--c-color-b3);

}

#boardHead {
    grid-area: boardHead;
}

#boardHead p {
    font-weight: bold;
    font-size: 1.3em;
    margin-block-start: 0.2em;
    margin-block-end: 0em;
}

#top5 {
    grid-area: top5;
    grid-template-rows: auto calc(var(--big-vertical-gap) * 1px) auto calc(var(--big-vertical-gap) * 1px) auto calc(var(--big-vertical-gap) * 1px) auto calc(var(--big-vertical-gap) * 1px) auto;
    grid-template-areas:
        "first"
        "."
        "second"
        "."
        "third"
        "."
        "forth"
        "."
        "fifth";
}

#firstRank {
    grid-area: first;
}

#No1 {
    color: var(--c-color-orange);
    font-size: 1.5em;
}

#secondRank {
    grid-area: second;
    width: 90%;
}

#thirdRank {
    grid-area: third;
    width: 90%;
}

#forthRank {
    grid-area: forth;
    width: 90%;
}

#fifthRank {
    grid-area: fifth;
    width: 90%;
}

/* div text */
#webDetailSection {
    grid-area: jw;
    grid-template-rows: 5vh auto 5vh auto 5vh auto 5vh;
    grid-template-areas:
        "."
        "jwh"
        "."
        "jwt"
        "."
        "jb3"
        ".";
}

#webDetailHeader {
    grid-area: jwh;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: ". jwhm .";
}

#webDetailHeaderDisplayBox {
    grid-area: jwhm;
    grid-template-columns: 10% 80% 10%;
}

#webDetailBody {
    grid-area: jwt;
    /* Using pixel sizing so that user can zoom up to get better read*/
    line-height: 40px;
    font-size: 25px;
    align-items: initial;
    align-content: initial;
    justify-content: space-between;
    justify-items: stretch;
}

#webDetailButtonHolder {
    height: auto;
    grid-area: jb3;
    grid-template-columns: 30% 4% 30% 4% 30%;
    grid-template-areas: "button1 . button2 . button3";
}

#button1 {
    grid-area: button1;
}

#button2 {
    grid-area: button2;
}

#button3 {
    grid-area: button3;
}

/* div join Section */
#joinSection {
    grid-area: j;
    border-top: 1px var(--c-color-b0) solid;
    grid-template-rows: auto 5vh auto 5vh auto 5vh;
    grid-template-areas:
        "jh"
        "."
        "jt"
        "."
        "jb2"
        ".";
}

#joinHeader {
    grid-area: jh;
    grid-template-columns: 30% 40% 30%;
    grid-template-areas: ". jhm .";
}

#joinHeaderDisplayBox {
    grid-area: jhm;
    grid-template-columns: 10% 80% 10%;
}

#joinSectionBody {
    grid-area: jt;
    /* Using pixel sizing so that user can zoom up to get better read*/
    line-height: 45px;
    font-size: 25px;
    align-items: initial;
    align-content: initial;
    justify-content: space-between;
    justify-items: stretch;
}

#joinButtonHolder {
    grid-area: jb2;
    grid-template-columns: 45% 9% 45%;
    grid-template-areas: "buttonJoin1 . buttonJoin2";
    align-items: initial;
    align-content: initial;
    justify-items: stretch;
}

#buttonJoin1 {
    grid-area: buttonJoin1;
}

#buttonJoin2 {
    grid-area: buttonJoin2;
}

/* Foot link that will not be change regardless of screen size ********************************************************/
#foot {
    border-top: 1px solid var(--c-color-b1);
    grid-area: fl;
    margin-bottom: 10px;
}

#footHeader1,
#footHeader2,
#footHeader3 {
    font-size: 2vh;
    text-align: left;
}

#cline1,
#cline2,
#cline3 {
    align-items: initial;
    align-content: initial;
    justify-content: space-between;
    justify-items: stretch;
}

#cline1 p,
#cline2 p,
#cline3 p {
    font-weight: 500;
    font-size: 1.8vh;
}

#contact {
    grid-template-columns: 33% 33% 34%;
    grid-template-areas: "fcl1 fcl2 fcl3";
    border-top: 1px var(--c-color-b0) solid;
}


#cline1 {
    grid-area: fcl1;
}

#cline2 {
    grid-area: fcl2;
}

#cline3 {
    grid-area: fcl3;
}

/*@ diabetesInfo, Layout**********************************************/
/* b: navigation bar section
   t: information section
   j: joinLinkSection
   fl: foot link
*/
#diabetesInfo {
    font-family: sans-serif;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        "b b b"
        "t t t"
        ". j ."
        ". fl .";
}

/* div Info */
#info {
    grid-area: t;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". th ."
        "tInfo tInfo tInfo"
        ". embedVid .";
}

#infoHeader {
    grid-area: th;
    justify-items: left;
}

#textPath1,
#textPath2 {
    text-decoration: underline;
    font-size: 21px;
    color: var(--c-color-b0);
}

#infoText {
    grid-area: tInfo;
    background-color: var(--c-color-b3);
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". infoTextImg .";
}

#infoTextImg {
    grid-area: infoTextImg;
    grid-template-columns: 65% 35%;
    grid-template-areas: "textP infoImg";
}

#infoImg {
    grid-area: infoImg;
}

#vid1,
#vid2 {
    background-color: var(--c-color-b3);
    border-radius: 2vh;
    grid-template-areas:
        "vidP";
}

#vid1 {
    grid-area: vid1;
}

#vid2 {
    grid-area: vid2;
}

#signInText {
    font-size: 3.3em;
    font-weight: 600;
}

#infoTextP {
    grid-area: textP;
    font-size: 25px;
    line-height: 50px;
}

#infoEmbededVid {
    grid-area: embedVid;
    grid-template-columns: 5% 35% 15% 35% 10%;
    margin-top: calc(var(--bigger-vertical-gap) * 1px);
    margin-bottom: calc(var(--bigger-vertical-gap) * 1px);
    grid-template-areas:
        ". . arrow . ."
        ". vid1 . vid2 .";
}

#arrowImg {
    grid-area: arrow;
    height: 60px;
    width: 57px;
}

/* dataEnter, layout**************************************************/
#patientEnter {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". directP ."
        "rbs rbs rbs"
        ". ds .";
}

#recordBars {
    grid-area: rbs;
    display: block;
}

#recordBars h2 {
    font-weight: normal;
    font-size: 1.2em;
    text-align: left;
}

.RecordBar {
    grid-template-areas: "RBB";
}

.RecordBlueBar {
    margin-bottom: calc(var(--bigger-vertical-gap) * 1px);
    padding-top: calc(var(--bigger-vertical-gap) * 1px);
    padding-bottom: calc(var(--bigger-vertical-gap) * 1px);
    background: var(--c-color-b3);
    grid-area: RBB;
    grid-template-columns: calc(var(--small-vertical-gap) * 15px) auto calc(var(--small-vertical-gap) * 20px) auto calc(var(--small-vertical-gap) * 15px);
    justify-items: left;
    justify-content: left;
    grid-template-areas:
        ". RIB . rR .";
}

.RecordInnerBar {
    grid-area: RIB;
    grid-template-areas: "recordArea";
    justify-items: left;
}

.recordRight {
    grid-area: rR;
    grid-template-areas: "recordArea";
    justify-items: left;
}

.RecordFinish {
    grid-area: RIB;
    justify-items: left;
}

.recordArea {
    grid-area: recordArea;
    justify-items: left;
}

.SwitchIcon {
    grid-area: SwitchIcon;
}

.RecordInnerBar input,
.recordRight input {
    border: var(--c-color-b0) 3px solid;
    font-size: large;
    margin-top: calc(var(--small-vertical-gap) * 1px);
    margin-bottom: calc(var(--small-vertical-gap) * 1px);
    height: 50px;
}

.RecordBotton {
    align-items: flex-start;
    justify-items: left;
}

.RecordBotton input {
    background: var(--c-color-b0);
    width: 150px;
    height: 75px;
    font-size: larger;
}

.fixed,
.saveButton {
    background-color: var(--c-color-g0);
    pointer-events: none;
}

.saveButton {
    width: 500px;
}

/*@ patientViewData, Layout***********************************************************/
#patientData {
    font-size: 1.4em;
    grid-template-columns: 7% 86% 7%;
    grid-template-areas:
        ". directP ."
        "bgc bgc bgc";
}

#backgroundColor {
    grid-area: bgc;
    background: var(--c-color-b3);
    grid-template-columns: 7% 86% 7%;
    align-items: start;
    grid-template-areas:
        ". dataTables ."
        ". graphSelect .";
}

#dataTables {
    grid-area: dataTables;
    grid-template-rows: auto auto;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

#graphSelect {
    grid-area: graphSelect;
    justify-content: left;
    justify-items: left;
}

#graphSelect select {
    border: 1px var(--c-color-b0) solid;
    color: var(--c-color-b0);
    background: var(--c-color-white);
    width: 20%;
}

/* part 4 --------------------------------------------------------- referenced application*/
/* switch application changed from referenced */

#toggle-button {
    display: none;
}

.button-label {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 30px;
    background-color: var(--c-color-b0);
    box-shadow: var(--c-color-g0) 0px 0px 0px 2px;
    border-radius: 30px;
    overflow: hidden;
}

.circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--c-color-white);
}

.button-label .text {
    line-height: 30px;
    font-size: 18px;
    text-shadow: 0 0 2px var(--c-color-g0);
}

.on {
    color: var(--c-color-white);
    display: inline-block;
    text-indent: 10px;
}

.off {
    color: var(--c-color-white);
    display: none;
    text-indent: 34px;
}

.button-label .circle {
    left: 50px;
    transition: all 0.3s;
}

#toggle-button:checked+label.button-label .circle {
    left: 0px;
}

#toggle-button:checked+label.button-label .on {
    display: none;
}

#toggle-button:checked+label.button-label .off {
    display: inline-block;
}

#toggle-button:checked+label.button-label {
    background-color: var(--c-color-g0);
}

/* part 5 --------------------------------------------------------- responsive design for different size*/
@media screen and (max-width: 880px) {
    #mezzanine {
        grid-template-columns: 5% 40% 10% 40% 5%;
        grid-template-rows: 10% 10% 70% 10%;
        grid-template-areas:
            ". . . . ."
            ". mr mr mr ."
            ". ml ml ml ."
            ". . . . .";
    }

    #mezzanineTextButtonHolder {
        grid-template-columns: 25% 10% 30% 10% 25%;
    }

    #mezzanineImgHolder {
        grid-template-columns: 40% 20% 40%;
        grid-template-areas: "mr1 . mr2";
    }

    #logInClinician {
        width: 25vw;
    }

    #logInPatient {
        width: 25vw;
    }
}

@media screen and (max-width: 1024px) {
    h2 {
        font-size: 1.8em;
    }

    #logo img {
        width: 100%;
        height: 60%;
    }

    #look {
        height: 4vh;
        width: 5vw;
    }

    #bar {
        font-size: 1em;
        font-weight: bolder;
    }

    #signInText {
        font-size: 3.5em;
        font-weight: normal;
    }

    #webDetailBody {
        line-height: 30px;
        font-size: 19px;
    }

    #joinSectionBody {
        line-height: 30px;
        font-size: 20px;
    }

    .ButtonAText {
        font-size: 20px;
    }

    #infoTextP {
        font-size: 20px;
        line-height: 30px;
    }

    #textPath1,
    #textPath2 {
        font-size: 19px;
    }

    iframe {
        height: 200px;
        width: 300px;
    }

    #infoEmbededVid {
        grid-template-rows: 25% 65% 20%;
    }

    .vidP {
        font-size: 20px;
        text-indent: 20px;
    }

    .smallTitle {
        font-size: 20px;
        letter-spacing: 2px;
    }

    #fMiddle h5 {
        font-size: 1.6vh;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 1.4em;
    }

    #name h1 {
        font-weight: normal;
        font-size: 5vw;
    }

    .plussign img {
        width: 20px;
        height: 20px;
    }

    #mezzanine {
        grid-template-columns: 5% 40% 10% 40% 5%;
        grid-template-rows: 15% 70% 15%;
        grid-template-areas:
            ". . . . ."
            ". ml ml ml ."
            ". . . . .";
    }

    #mezzanineTextButtonHolder {
        grid-template-columns: 25% 10% 30% 10% 25%;
    }

    #mezzanineImgHolder {
        display: none;
    }

    #logInClinician {
        font-size: 1.5vh;
        border-radius: 3vh;
        height: 6vh;
    }

    #logInPatient {
        font-size: 1.5vh;
        border-radius: 3vh;
        height: 6vh;
    }

    #mlText {
        font: 1em sans-serif;
    }

    #aboutWeb {
        grid-template-rows: 24vh 42vh 110vh 70vh 66vh;
        grid-template-columns: 5% 90% 5%;
    }

    #diabetesInfo {
        grid-template-rows: 24vh 175vh 65vh 66vh;
        grid-template-columns: 5% 90% 5%;
    }

    #logo img {
        height: auto;
        width: auto;
    }

    img {
        max-height: 100%;
        max-width: 100%;
    }

    h2 {
        font-size: 1em;
    }

    header {
        grid-template-columns: 4% 50% 3% 40% 3%;
        grid-template-areas: ". hl . hr .";
    }

    #headRight {
        grid-template-columns: 15% 80% 5%;
        grid-template-rows: 40% 20% 40%;
    }

    #look {
        height: 2.7vh;
        width: 12.5vw;
        background-size: 2vh;
    }

    #smallLook {
        background-size: 1.5vh;
    }

    #bar {
        font-size: 2.7vw;
        font-weight: lighter;
        grid-template-rows: 1% 4% 19% 19% 19% 19% 19%;
        grid-template-columns: 100%;
        grid-template-areas:
            ". "
            "bg"
            "bl"
            "bl"
            "bl"
            "bl"
            "br";
    }

    #searchBar {
        grid-template-columns: 65% 35%;
        width: 100%;
    }

    #barLeft {
        grid-template-columns: 100%;
        grid-template-rows: repeat(4, 25%);
    }

    #signInText {
        font-size: 1.5em;
        font-weight: 900;
    }

    .vidP {
        font-size: 15px;
        text-indent: 6vw;
    }

    #webDetailBody {
        line-height: 19px;
        font-size: 15px;
    }

    #joinSectionBody {
        line-height: 20px;
        font-size: 15px;
    }

    .ButtonAText {
        justify-self: left;
        font-size: 15px;
    }

    #infoText {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 95% 5%;
        grid-template-areas:
            ". infoTextImg ."
            ". . .";
    }

    #infoTextImg {
        grid-template-rows: 60% 5% 35%;
        grid-template-columns: 100%;
        grid-template-areas:
            "textP"
            "."
            "infoImg";
    }

    #infoTextP {
        font-size: 15px;
        line-height: 20px;
    }

    #textPath1,
    #textPath2 {
        font-size: 17px;
    }

    #joinSection {
        grid-template-rows: 3% 10% 3% 30% 6% 45% 3%;
    }

    #infoEmbededVid {
        grid-template-columns: 6% 88% 6%;
        grid-template-rows: 20% 35% 5% 35% 5%;
        grid-template-areas:
            " . arrow ."
            ". vid2 ."
            ". . ."
            ". vid1 .";
    }

    #arrowImg {
        height: 40px;
        width: 19px;
    }

    iframe {
        height: 35vw;
        width: 32vh;
    }

    .smallTitle {
        text-align: center;
        font-size: 1em;
        letter-spacing: 1.5px;
    }

    .titleBlack {
        font-size: 1.2em;
    }

    #joinHeader {
        grid-template-columns: 10% 80% 10%;
    }

    #webDetailHeader {
        grid-template-columns: 10% 80% 10%;
    }

    #webDetailSection {
        grid-template-rows: 2% 10% 2% 36% 5% 40% 5%;
    }

    #webDetailButtonHolder {
        grid-template-rows: 30% 5% 30% 5% 30%;
        grid-template-columns: 100%;
    }

    #joinButtonHolder {
        grid-template-rows: 47% 6% 47%;
        grid-template-columns: 100%;
    }

    .Jbot {
        border-radius: 3vh;
        border: 2px var(--c-color-b0) solid;
        height: 14vh;
        grid-template-columns: 3% 18% 9% 50% 4% 10% 4%;
        grid-template-rows: 100%;
        grid-template-areas: ". Jim . Jte . Jar .";
    }

    .Jimg {
        height: 8vh;
    }

    #cline1,
    #cline2,
    #cline3 {
        font-size: 1vh;
        text-align: center;
    }

    #footHeader1,
    #footHeader2,
    #footHeader3 {
        font-size: 1.2vh;
        text-align: center;
    }

    #contact {
        grid-template-columns: 100%;
        grid-template-rows: 33% 33% 34%;
        grid-template-areas:
            "fcl1"
            "fcl2"
            "fcl3";
    }

    body {
        grid-template-rows: 11vh auto 10vh;
    }

    footer {
        grid-template-columns: 10% 80% 10%;
    }

    #fMiddle {
        grid-template-columns: repeat(4, 6vh);
        grid-template-rows: 50% 50%;
        grid-template-areas:
            "img1 img2 img3 img4"
            "p p p p";
    }

    #fMiddle>h5 {
        grid-area: p;
        white-space: nowrap;
        font-size: 1vh;
    }

    #infoHeader {
        grid-template-rows: 30% 70%;
    }

    #info {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 10vh 85vh 80vh;
    }

    #directSection {
        grid-template-rows: 2% 8% 5% 77% 8%;
    }

    #directHeader {
        grid-template-columns: 75% 25%;
    }

    /*patient home*/
    #patientHome {
        font-size: 0.8em;
        grid-template-rows: auto 45vh auto 100vh 58vh;

    }

    #patientInfo {
        grid-template-rows: auto auto 2vh;
        grid-template-columns: 100%;
        grid-template-areas:
            "bl"
            "pProf"
            ".";
    }

    #patProfile {
        grid-template-rows: 2vh 55vh 2vh 15vh 2vh;
        grid-template-columns: 2vh 10vh 15vh 10vh 2vh;
        background-color: var(--c-color-white);
        background-image: linear-gradient(180deg, var(--c-color-b3) 20%, var(--c-color-white) 0%);
        grid-template-areas:
            ". . . . ."
            ". ppi ppi ppi ."
            ". . . . ."
            ". . badg . ."
            ". . . . .";
    }

    #patProfileInfo {
        grid-template-columns: 10% 80% 10%;
        grid-template-rows: 1% 24% auto auto 12%;
        grid-template-areas:
            ". . ."
            ". pIm ."
            ". pi1. "
            ". pi2 ."
            ". editP .";
        box-shadow: 0px 0px 20px var(--c-color-g0);
    }

    #pImg {
        width: 35%;
        height: 35%;
    }

    #perInfo1 {
        width: 20em;
        border-right-color: var(--c-color-white);
        justify-content: left;
    }

    #perInfo2 {
        width: 20em;
    }

    #badges {
        grid-template-columns: auto 10vh auto;
        grid-template-rows: auto 10vh auto;
        box-shadow: 0px 0px 20px var(--c-color-g0);
    }

    #dailyData {
        grid-template-rows: 7% 5% 88%;
        grid-template-areas:
            ". dailyDataText ."
            ". . ."
            "todayData todayData todayData";
    }

    #todayData {
        grid-template-rows: 10% 5% 5% 70% 10%;

    }

    #tableHead {
        grid-template-columns: 15% 8% 35% 22% 20%;
    }

    #tableArea {
        grid-template-rows: 5vh auto 5vh auto;
    }

    #allMessages {
        grid-template-rows: 5vh auto auto 5vh;
    }

    #displaySelection {
        width: 100%;
    }

    #displaySelection select {
        width: 100%;
        padding: 10px 0px;
    }

    table td,
    table th {
        width: 60px;
        height: 40px;
    }

    #oneMessageTable td img {
        max-height: 60%;
    }

    #leaderBoard {
        grid-template-rows: 5vh auto 5vh auto;
    }

    /* dataEnter, layout**************************************************/
    #patientEnter {
        font-size: 1em;
        grid-template-rows: 2vh 24vh 30vh auto 58vh;
    }

    .profileInfo {
        grid-template-columns: 1% 40% 3% 55% 1%;
        grid-template-rows: 10% 40% 40% 10%;
        grid-template-areas:
            ". . . . ."
            ". cImg . cName ."
            ". cImg . rightContent ."
            ". . . . .";
    }

    .RecordBar {
        height: 70vh;
        grid-template-rows: 2% 96% 2%;
        grid-template-areas:
            "."
            "RBB"
            ".";
    }

    .RecordBlueBar {
        grid-template-rows: 2% 96% 2%;

    }

    .RecordInnerBar {
        grid-template-rows: 5% 70% 20% 5%;
        grid-template-columns: 100%;
        column-gap: unset;
        grid-template-areas:
            ". ."
            "recordArea recordArea"
            "SwitchIcon SwitchIcon"
            ". .";
    }

    .RecordInnerBar input {
        height: 30px;
    }
}