
    
        <div id="aboutWeb">

            <!-- Guide bar -->
            <div id="bar">
                <div id="barGap"></div>
                <div id="barLeft">
                    <div> <a href="diabetesInfo.html" class="fontWhiteNormal">About Diabetes</a></div>
                    <div><a href="" class="fontWhiteNormal">Covid-19</a></div>
                    <div><a href="" class="fontWhiteNormal">Healthcare Professionals</a></div>
                    <div><a href="" class="fontWhiteNormal">Our Services</a></div>
                </div>
                <div id="barRight"><a href="#" class="fontWhiteNormal">MyDiabetes Account</a></div>
            </div>

            <!-- Mezzanine -->
            <div id="mezzanine">
                <div id="mezzanineTextButtonHolder">
                    <div id="mtext">
                        <h1 id="signInText" class="fontBlue">Sign In</h1>
                        <h2> as Clinician or Patient</h2>
                        <h2 id="to">
                            to <span id="Access" class="fontBlue">access records </span>   
                        </h2>
                        <h2>and</h2>
                        <h2 class="fontBlue">keep track of your own health</h2>
                    </div>
                    <div id="logInClinican"> <a class="fontWhiteBold" href="#">Log in as <br>Clinician</a></div>
                    <div id="mlText"> or </div>
                    <div id="logInPatient"> <a class="fontWhiteBold" href="#">Log in as <br>Patient</a></div>
                </div>
                <div id="mezzanineImgHolder">
                    <div id="mr1"><img src="images/sugar.png" alt="sugar"></div>
                    <div id="mr2"><img src="images/diabetes.png" alt="diabetes"></div>
                </div>
            </div>

            <!-- text -->
            <div id="webDetailSection">
                <div class="webDetailHeader">
                    <div class="webDetailHeaderDisplayBox">
                        <div class="plussign"><img src="images/plussign.png" alt="plussign"></div>
                        <p class="smallTitle">About This Website</p>
                        <div class="plussign"><img src="images/plussign.png" alt="plussign"></div>
                    </div>
                </div>
                <div class="webDetailBody">Diabetes@Home is a digital health solution software built by 5 students studying in the University of 
                    Melbourne. This website aims to help patients manage their diabetes at home and help clinicians to monitored the 
                    situations of their patients remotely. Patients can record health data, view data they have recorded and add comments. 
                    Clinicians can track their patients by monitoring their health data, encourage their patients by sending messages to 
                    them, and view patients' comments. It is very user-friendly and learnable. The patient UI works well on phone, tablet
                    and desktop sized screens while the clinician UI only works on desktop sized screens. Both clinicians and patients need
                    to log in in order to access most of the functions. </div>
                <div></div>
                <div id="webDetailButtonHolder">
                    <a class="reDirectButtonA" href="diabetesInfo.html"><div class="Jbot">
                        <div class="Jimg"><img src="images/diabetesicon.png" alt="Blood drop from hand"></div>
                        <p class="ButtonAText">About Diabetes</p>
                        <div class="Jarr"><img src="images/bluecirclearrow.png" alt="right arrow"></div>
                    </div></a>
                    <div></div>
                    <a class="reDirectButtonA" href=""><div class="Jbot">
                        <div class="Jimg"><img src="images/covidicon.png" alt="hand wave from blood droplet"></div>
                        <p class="ButtonAText">Covid-19</p>
                        <div class="Jarr"><img src="images/bluecirclearrow.png" alt="right arrow"></div>
                    </div></a>
                    <div></div>
                    <a class="reDirectButtonA" href=""><div class="Jbot">
                        <div class="Jimg"><img src="images/heartbeaticon.png" alt="heart beat"></div>
                        <p class="ButtonAText">My Diabetes</p>
                        <div class="Jarr"><img src="images/bluecirclearrow.png" alt="right arrow"></div>
                    </div></a>
                </div>
            </div>

            <!-- join -->
            <div id="joinSection">
                <div class="joinHeader">
                    <div class="joinHeaderDisplayBox">
                        <div class="plussign"><img src="images/plussign.png" alt="plussign"></div>
                        <p class="smallTitle">Join As A Member</p>
                        <div class="plussign"><img src="images/plussign.png" alt="plussign"></div>
                    </div>
                    
                </div>
                <div class="joinSectionBody">Both patients and clinicians need to log in in order to access more functions for managing patients&#39; 
                    diabetes in the convenience of their own home, recording data that can be monitored remotely body clinicians. Therefore, 
                    log in and join as a member in order to access full records of your own health. </div>
                <div id="joinButtonHolder">
                    <a class="reDirectButtonA" href=""><div class="Jbot">
                        <div class="Jimg"><img src="images/patienticon.png" alt="happy patient in green"></div>
                        <p class="ButtonAText">Log in as "Patient"</p>
                        <div class="Jarr"><img src="images/bluecirclearrow.png" alt="right arrow"></div>
                    </div></a>
                    <div></div>
                    <a class="reDirectButtonA" href=""><div class="Jbot">
                        <div class="Jimg"><img src="images/clinicianicon.png" alt="happy doctor in blue"></div>
                        <p class="ButtonAText">Log in as "Clinician"</p>
                        <div class="Jarr"><img src="images/bluecirclearrow.png" alt="right arrow"></div>
                    </div></a>
                </div>
            </div>
        </div>
   
